body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #5e5e5e;
  background-image:none;
  background-color: #fff;
  overflow-x: hidden;
}

a,
.btn,
.wrapper-homeads,
.wrapper-homecategs,
.homeads-content,
.wrapper-homebrands,
.assurance-text,
.thumbnail,
.row-bikes-categ .panel-default {
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

a {
	color: #00a7d1;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #0083a4;
	text-decoration: none;
}



.form-control {
	box-shadow: none;
	border-color: #e1e1e1;
}

.navbar-default {
	background: none;
	border: none;
}

.navbar {
	min-height: inherit;
	margin-bottom: 0;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.navigation-list li {
    width: 23.9%;
}

.navigation-list li a {
	color: #fff;
}

.wrap-left-menu .navigation-list li a {
	color: #fff;
}

.carousel-control.right,
.carousel-control.left {
	background: none;
	filter: -;
}

.ccwrap {
	float: left;
}

.nsearchinput-pl.well {
	margin-top: 40px !important;
	box-shadow: none;
	border-color: #e1e1e1;
}

hr {
	border-color: #efefef;
}

{
	margin-bottom: 40px;
}

@media (max-width: 991px){

	.nsearchinput-pl.well {
		margin-top: 34px !important;
	}
}

@media (max-width: 767px){
	.navbar-collapse {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Breadcrumbs */

.breadcrumb {
	padding: 0;
	background: none;
}

.breadcrumb > li > a {
	font-size: 13px;
	color: #5e5e5e;
}

.breadcrumb > li + li:before {
	content: "\f105";
	padding: 0 9px;
	font-family: FontAwesome;
	color: #5e5e5e;
}

.breadcrumb > li:last-child > a {
	font-weight: 700;
	color: #00a7d1;
}

.breadcrumb > .active {
	color: #999999;
}


/* Thumbnail */

.thumbnail {
	border-color: #e1e1e1;
}

.thumbnail:hover,
.thumbnail:focus,
.row-bikes-categ .panel-default:hover {
	border-color: #00a7d1;
}

.wrap-subcateg-list:hover,
.wrap-subcateg-list:focus {
	border: 1px solid #00a7d1;
	border-color: #00a7d1;
	margin-top: -1px;
	margin-left: -1px;
}

.feat-blog-wrap:hover,
.feat-blog-wrap:focus {
	border-color: #00a7d1;
}

.feat-blog-wrap a {
	border-color: #00a7d1;
}

.thumbnail .caption {
	text-align: center;
}

.caption .price {
	font-size: 17px;
	height: 21px;
	color: #000;
}

.thumb_list .price {
	font-size: 17px;
	color: #000;
}

.thumb-rrp {
	color: #c6c7c7;
	text-decoration: line-through;
}

.thumb-price {
	color: #000;
	font-weight: 700;
}

.thumbnail .caption {
	padding: 9px 26px;
}

.thumbnail .caption h3 {
	font-size: 14px;
	overflow: hidden;
}

.thumbnail .caption h3 a,
.thumb_list h3 a,
.thumb h3 a {
	color: #5e5e5e;
}

.thumb_list h3 a, .row-bikes-categ .panel-body h3 a {
    font-weight: bold;
    font-size: 14px;
    line-height:20px;
}

.thumbnail .caption h3 a:hover {
	color: #00a7d1;
}

.thumbnail .caption .btn {
	font-size: 16px;
	font-weight: 700;
}

.thumb_list .panel-default {
	background: #fff;
	border-color: #e1e1e1;
}

.thumb_list h3 {
	font-size: 14px;
}

.savings-container {
	right: auto;
	left: 20px;
	top: 20px;
}

.thumb_list .savings-container {
	top: 5px;
}

.wrap-thumb-rating {
	margin-bottom: 5px;
	height: 26px;
	overflow: hidden;
	font-size: 16px;
	text-align: center;
	color: #00a7d1;
}

.thumb_list .wrap-thumb-rating {
	height: auto;
	overflow: auto;
	text-align: left;
}

.caption .btn-default {
	color: #fff;
	background-color: #ccc;
	border-color: #ccc;
}

.caption .btn-default:hover,
.caption .btn-default:focus,
.caption .btn-default:active,
.caption .btn-default.active,
.caption .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #aaa;
	border-color: #aaa;
}

.caption .btn-default:active,
.caption .btn-default.active,
.caption .open .dropdown-toggle.btn-default {
	background-image: none;
}

.caption .btn-default.disabled,
.caption .btn-default[disabled],
.caption fieldset[disabled] .btn-default,
.caption .btn-default.disabled:hover,
.caption .btn-default[disabled]:hover,
.caption fieldset[disabled] .btn-default:hover,
.caption .btn-default.disabled:focus,
.caption .btn-default[disabled]:focus,
.caption fieldset[disabled] .btn-default:focus,
.caption .btn-default.disabled:active,
.caption .btn-default[disabled]:active,
.caption fieldset[disabled] .btn-default:active,
.caption .btn-default.disabled.active,
.caption .btn-default[disabled].active,
.caption fieldset[disabled] .btn-default.active {
	background-color: #ccc;
	border-color: #cccccc;
}

.thumb_list .btn-default {
	color: #fff;
	background-color: #ccc;
	border-color: #ccc;
}

.thumb_list .btn-default:hover,
.thumb_list .btn-default:focus,
.thumb_list .btn-default:active,
.thumb_list .btn-default.active,
.thumb_list .open .dropdown-toggle.btn-default {
	color: #fff;
	background-color: #aaa;
	border-color: #aaa;
}

.thumb_list .btn-default:active,
.thumb_list .btn-default.active,
.thumb_list .open .dropdown-toggle.btn-default {
	background-image: none;
}

.thumb_list .btn-default.disabled,
.thumb_list .btn-default[disabled],
.thumb_list fieldset[disabled] .btn-default,
.thumb_list .btn-default.disabled:hover,
.thumb_list .btn-default[disabled]:hover,
.thumb_list fieldset[disabled] .btn-default:hover,
.thumb_list .btn-default.disabled:focus,
.thumb_list .btn-default[disabled]:focus,
.thumb_list fieldset[disabled] .btn-default:focus,
.thumb_list .btn-default.disabled:active,
.thumb_list .btn-default[disabled]:active,
.thumb_list fieldset[disabled] .btn-default:active,
.thumb_list .btn-default.disabled.active,
.thumb_list .btn-default[disabled].active,
.thumb_list fieldset[disabled] .btn-default.active {
	background-color: #ccc;
	border-color: #cccccc;
}

/* Top links */

.wrapper-topaccount {
	background: #efefef;
}

.topcontact {
	margin: 0;
	padding: 0;
	list-style: none;
}

.topcontact > li {
	display: inline-block;
}

.topcontact > li > a {
	padding: 10px 6px;
	display: inline-block;
	font-size: 15px;
	color: #5e5e5e;
}
.topcontact > li.needhelp > a {
	padding-left: 0;
}

.topcontact > li.needhelp > a > span{
	font-weight: 700;
	color: #00a7d1;
}

.topcontact > li > a:hover,
.topcontact > li > a:focus {
	color: #00a7d1;
}

.topaccount {
	margin: 0;
	padding: 0;
	width: auto;
	float: right;
	list-style: none;
}

.topaccount > li {
	display: inline-block;
}

.topaccount > li > a {
	padding: 11px 16px 12px;
	display: inline-block;
	font-size: 13px;
	color: #5e5e5e;
}

.topaccount > li > a:hover,
.topaccount > li > a:focus {
	color: #00a7d1;
}

.topaccount > li:hover > a,
.topaccount > li:focus > a {
	color: #00a7d1;
}


.topaccount > li:last-child > a {
	padding-right: 0;
}

.topaccount > li.toplink-acct .dropdown-menu {
	z-index: 100000;
	margin-top: 0;
	box-shadow: none;
	border-color: #efefef;
	border-top: none;
}

.toplink-acct.btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.topaccount > li > a:hover,
.topaccount > li > a:focus {
	color: #00a7d1;
}

@media (max-width: 991px){

	.topcontact > li > a {
		font-size: 13px;
	}

	.topaccount > li > a {
		padding: 11px 8px 12px;
	}

}

/* Header */

.wrapper-header {
	padding: 10px 0 18px;
	background: #fff;
}

.wrapper-logo {
	padding-right: 30px;
}

.header-search .form-control {
	height: 40px;
	font-size: 16px;
}

.header-search .form-control:focus {
	border-color: #e1e1e1;
	box-shadow: none;
}

.header-search .btn {
	height: 40px;
}

/* Assurance */

.wrapper-top-assurance {
	padding-top: 20px;
	float: right;
}

.wrapper-assurance {
	width: 33.33333333333333%;
	float: left;
	cursor: pointer;
}

.wrapper-assurance .assurance-image {
	width: 54px;
	float: left;
}

.wrapper-assurance .assurance-image img {
	max-width: 100%;
}

.wrapper-assurance .assurance-text {
	width: auto;
	float: left;
	font-size: 13px;
	font-weight: 700;
}

.wrapper-assurance .assurance-text span {
	font-weight: 400;
}

.wrapper-assurance:hover .assurance-text,
.wrapper-assurance:focus .assurance-text {
	color: #00a7d1;
}

@media (max-width: 1199px){

	.wrapper-assurance .assurance-image {
		width: 40px;
		float: left;
	}

	.wrapper-assurance .assurance-text {
		font-size: 11px;
	}

}

@media (max-width: 991px){

	.header-search {
		margin-top: 10px;
	}

	.header-search .form-control {
		height: 34px;
		font-size: 14px;
	}

	.header-search .btn {
		height: 34px;
	}

	.wrapper-top-assurance {
		padding-top: 10px;
	}

	.wrapper-assurance .assurance-image {
		width: 32px;
	}

}

@media (max-width: 767px){

	.wrapper-header {
		padding: 7px 0;
		background: #fff;
		border-bottom: 1px solid #efefef;
	}



	.top-assurance-mobbg {
		margin-top: 10px;
		border-top: 1px solid #efefef;
	}

	.wrapper-assurance .assurance-image {
		width: 28px;
	}


	#searchmobile {
		padding: 10px;
		margin-bottom: 0 !important;
	}

	#searchmobile .header-search {
		margin-top: 0;
	}

}

@media (max-width: 460px){

	.wrapper-top-assurance {
		text-align: center;
	}

	.wrapper-assurance {
		width: 48%;
		float: none;
		display: inline-block;
	}

	.wrapper-assurance:nth-child(3) {
		display: none;
	}
}


/* Nav */

.wrapper-nav {
	margin-bottom: 20px;
	background: #5e5e5e;
}

#n_home .wrapper-nav {
	margin-bottom: 0;
}

.wrapper-nav .nav > li > a {
	padding: 18px 12px 17px;
	font-size: 16px;
	color: #fff;
}

.wrapper-nav .nav > li > a > i {
	margin-left: 10px;
	font-size: 18px;
	color: #3c3b3b;
}

.wrapper-nav .nav > li:nth-child(6) > a {
	padding-right: 18px;
	color: #f59b3a;
}

.wrapper-nav .nav > li > a:hover,
.wrapper-nav .nav > li > a:focus {
	color: #00a7d1;
	background-color: #5e5e5e;
}

.wrapper-nav .nav > li:first-child > a {
	padding-left: 11px;
}

.wrapper-nav #header-cart {
	margin-top: 0;
}

.wrapper-nav .navmain .dropdown-menu {
	border-color: #5e5e5e;
	box-shadow: none;
	border-top: none;
}

.wrapper-nav .btn-group.open .dropdown-toggle {
	box-shadow: none;
}

.wrapper-nav .navmain .menu-drop.dropdown {
	position:static;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu {
	width:100%;
	padding: 15px;
	font-weight: 400;
	border-radius: 0;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-img {
	width: 35%;
	display: inline-block;
	vertical-align: top;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-img img {
	max-width: 100%;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-list {
	width: 100%;
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wrapper-nav .column{
	width: 33.33333333333333%;
	padding: 0px;
	margin: 0px;
	list-style: none;
	float: left;
	padding-left: 10px !important;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-list .lv2-li a {
	font-size: 13px;
	font-weight: 700;
	color: #5e5e5e;
	text-transform: uppercase;
	display: block;
	padding: 5px 0;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-list .lv2-li > ul {
	margin: 5px 0 10px;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-list .lv3-li a {
	font-size: 13px;
	color: #8f8f8f;
	padding: 3px 0;
	border-bottom: 1px solid #e1e1e1;
	display: block;
	text-transform: none;
}

.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-list .lv2-li a:hover,
.wrapper-nav .navmain .menu-drop .dropdown-menu .dropcateg-list .lv2-li a:focus {
	color: #00a7d1;
}

.wrapper-nav-cart {
	float: right;
}

.wrapper-nav #header-cart > a {
	display: inline-block;
	padding: 18px 26px 17px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	background: #f38713;
}

.wrapper-nav #header-cart > a > .fa-caret-down {
	color: #ba6203;
}

.wrapper-nav #header-cart > a:hover,
.wrapper-nav #header-cart > a:focus {
	color: #fff;
	background: #e17d12;
}

.wrapper-nav #header-cart .dropdown-menu {
	margin-top: 0;
	border-color: #e17d12;
}

.wrapper-nav .nav > li:hover > a,
.wrapper-nav .nav > li:focus > a {
	color: #00a7d1;
	background-color: #5e5e5e;
}

.wrapper-nav .navbar-default .navbar-nav > .open > a,
.wrapper-nav .navbar-default .navbar-nav > .open > a:hover,
.wrapper-nav .navbar-default .navbar-nav > .open > a:focus {
	color: #00a7d1;
	background-color: #5e5e5e;
}

.wrapper-left-menu {
	padding-right: 0;
	padding-top: 5px;
}
.wrapper-right-menu {
	padding-left: 0;
	padding-top: 5px;
}

.wrapper-left-menu ul,
.wrapper-right-menu ul {
	margin-bottom: 0;
}

.wrapper-left-menu .navigation-list li {
	width: 47%;
}

.wrapper-right-menu .navigation-list li {
	width: 100%;
}

.wrapper-left-menu .navigation-list li a,
.wrapper-right-menu .navigation-list li a {
	position: relative;
	color: #333;
}

.cartcount {
	position: absolute;
	top: -15px;
	right: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #00a7d1;
	color: #fff;
	font-size: 10px;
	line-height: 20px;
	text-align: center;
}

@media (max-width: 1199px){

	.wrapper-nav .nav > li > a {
		padding: 18px 6px 17px;
		font-size: 14px;
	}

	.wrapper-nav .nav > li:first-child > a {
		padding-left: 8px;
	}

	.wrapper-nav .nav > li > a > i {
		margin-left: 6px;
		font-size: 14px;
	}

	.wrapper-nav .nav > li:nth-child(6) > a {
		padding-right: 12px;
	}

	.wrapper-nav #header-cart > a {
		padding: 18px 18px 17px;
		font-size: 14px;
	}

}

@media (max-width: 991px){

	.wrapper-nav .nav > li > a {
		padding: 18px 4px 17px;
		font-size: 12px;
	}

	.wrapper-nav .nav > li:first-child > a {
		padding-left: 0;
	}

	.wrapper-nav .nav > li > a > i {
		margin-left: 4px;
		font-size: 12px;
	}

	.wrapper-nav .nav > li:nth-child(6) > a {
		padding-right: 10px;
	}

	.wrapper-nav #header-cart > a {
		padding: 18px 10px 17px;
		font-size: 12px;
	}

}



@media (max-width: 767px){
	.wrapper-nav {
		margin-bottom: 0;
	}
	.wrapper-nav .nav > li:first-child > a {
		padding-left: 4px;
	}

	#mob-menu {
		list-style:none;
	}

	#mob-menu .collapse-menu{
		padding: 0;
		padding: 0 15px 13px;
	}

	#mob-menu .collapse-menu li a{
		padding: 8px;
		display: block;
		color: #fff;
		font-size: 13px;
	}

	#mob-menu .dropdown-menu-horizontal{
		padding: 0;
		padding: 0 15px 13px;
	}

	#mob-menu .dropdown-menu-horizontal li a{
		padding: 8px;
		display: block;
		color: #fff;
		font-size: 13px;
	}

	#mob-menu .dropdown-menu-horizontal li a:hover {
		color: #fff;
		background: none;
	}

	#mob-menu .mob-drop:after{
		content: "\f106";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		float: right;
		color: #fff;
		width: 10px;
	}


	#mob-menu .mob-drop.collapsed{
		color: #fff;
	}

	#mob-menu .mob-drop.collapsed:after {
		content: "\f107";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		float: right;
		color: #fff;
	}

	#mob-menu .collapse-menu li.open > a,
	#mob-menu .collapse-menu li.open > a:hover,
	#mob-menu .collapse-menu li.open > a:focus {
		color: #fff;
		background: none;
	}

	.navbar-mob-collapse {
		border-top: none;
	}

	.col-menu-mob {
		min-height: 0;
	}
}



/* Sidebar */

#left-sidebar .panel-default {
	background: #efefef;
	border-color: #efefef;
}

.panel {
	box-shadow: none;
}

#left-sidebar .panel-default > .panel-heading {
	background-color: #efefef;
	padding: 18px 15px;
}

#left-sidebar .panel-heading.panel-heading-thumbnails {
	border-bottom: 2px solid #e6e6e6;
}

#left-sidebar .panel-title {
	font-size: 18px;
	font-weight: 700;
}

#left-sidebar .panel-title a {
	color: #5e5e5e;
}

#left-sidebar .panel-title a i {
	color: #00a7d1;
}

#left-sidebar .list-group-item {
	margin-bottom: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 14px;
	color: #5e5e5e;
	border-color: #efefef;
	background-color: #efefef;
}

#left-sidebar .list-group-item.list-price {
	margin-bottom: -1px;
}

#left-sidebar a.list-group-item {
	color: #5e5e5e;
}

#left-sidebar .list-group-item-head {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}

#left-sidebar .list-group h4, #left-sidebar .list-group .h4 {
	color: #5e5e5e;
	font-size: 16px;
	font-weight: 700;
}

#left-sidebar .panel-heading.panel-heading-thumbnails.filterhead {
	border-bottom: 1px solid #b1b1b1;
}

#filters {
	padding-bottom: 25px;
}

.wrap-left-contact {
	width:100%;
	margin-bottom: 20px;
	padding: 20px;
	background: #00a7d1;
	color: #fff;
}

.wrap-left-contact h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.wrap-left-contact ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.wrap-left-contact ul li {
	margin-bottom: 4px;
	width: 100%;
	display: inline-block;
}

.wrap-left-contact ul li a {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	color: #fff;
}

.wrap-left-contact ul li span {
	margin-right: 10px;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	color: #f38713;
	font-size: 20px;
	border-radius: 50%;
	background: #fff;
}

.wrap-left-contact ul li span i {
	margin-right: -3px;
}

.wrap-left-contact ul li a:hover,
.wrap-left-contact ul li a:focus {
	color: #c2effa;
}

@media (max-width: 991px){
	#left-sidebar .panel-title {
		font-size: 13px;
	}

	#left-sidebar .list-group h4, #left-sidebar .list-group .h4 {
		font-size: 13px;
	}

	.wrap-left-contact {
		padding: 10px;
	}

	.wrap-left-contact h3 {
		font-size: 14px;
	}

	.wrap-left-contact p {
		font-size: 12px;
	}

	.wrap-left-contact ul li a {
		font-size: 12px;
	}

	.wrap-left-contact ul li span {
		margin-right: 5px;
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}

}

/* Carousel */


#myCarouselBanner.carousel .item {
	left: 0 !important;
	-webkit-transition: opacity 0.9s;
	transition: opacity 0.9s;
}

#myCarouselBanner.carousel .next.left,
#myCarouselBanner.carousel .prev.right {
	opacity: 1;
	z-index: 1;
}

#myCarouselBanner.carousel .active.left,
#myCarouselBanner.carousel .active.right {
	opacity: 0;
	z-index: 2;
}

.carousel-caption-wrap{
	width:352px;
}

.carousel .item.next .carousel-caption, .carousel .item.prev .carousel-caption {
    opacity: 0;
}

.carousel-caption {
	transition: opacity .9s;
	-moz-transition: opacity .9s;
  	-webkit-transition: opacity .9s;
}

.carousel-caption h3 {
	margin-bottom: 10px;
	font-size: 40px;
	font-weight: 700;
	color: #fff /*{carousel-title-colour}*/;
}

.carousel-caption p {
	margin-bottom: 10px;
	font-size: 24px;
	color: #fff /*{carousel-description-colour}*/;
}

#myCarouselBanner .item:nth-child(5) .carousel-caption p {
	width: 248px;
}

.carousel-caption .btn {
	margin-top: 10px;
	padding: 18px 25px;
	font-size: 18px;
	font-weight: 700;
	background: #00a7d1;
	border-color: #00a7d1;

}

.carousel-caption .btn:hover,
.carousel-caption .btn:focus {
	background: #0189ab;
	border-color: #0189ab;
}

#myCarouselBanner .carousel-control {
	top: 158px;
	width: 50px;
	height: 50px;
	opacity: 1.0;
	z-index: 999;
	line-height: 50px;
	text-align: center;
}

#myCarouselBanner .carousel-control {
	display:none;
}

#myCarouselBanner .carousel-control.left,
#myCarouselBanner .carousel-control.right {
	background: rgba(0,0,0,0.50);
}

#myCarouselBanner .carousel-control.left {
	left: 55px;
}

#myCarouselBanner .carousel-control.right {
	right: 55px;
}

#myCarouselBanner .carousel-control.left:hover,
#myCarouselBanner .carousel-control.left:focus {
	background: rgba(0,0,0,0.70);
	opacity: 1.0;
}

#myCarouselBanner .carousel-control.right:hover,
#myCarouselBanner .carousel-control.right:focus {
	background: rgba(0,0,0,0.70);
	opacity: 1.0;
}

#myCarouselBanner .carousel-control .fa {
	position: relative;
	top: 0;
	left: 0;
	z-index: 5;
	display: inline-block;
}

#myCarouselBanner:hover .carousel-control,
myCarouselBanner:focus .carousel-control {
	display:block;
	opacity:1.0 !important;
}

@media screen and (min-width: 768px){
	.carousel-caption {
		left: 15%;
		right: auto;
		bottom: auto;
		top: 80px;
		padding-bottom: 0;
		width: 42%;
		text-align: left;
	}

    .row-bikes-categ .panel-body .price {
        font-size:20px;
    }


    .row-bikes-categ .panel-body h3 a {
        font-size:21px;
    }
}


@media (max-width: 1330px){
	#myCarouselBanner .carousel-control {
		top: 158px;
	}
}

@media (max-width: 1199px){
	#myCarouselBanner .carousel-caption {
		top: 60px;
	}
}



@media (max-width: 991px){

	#myCarouselBanner .carousel-control {
		top: 138px;
		display: block;
	}

	.carousel-caption {
		top: 20px;
	}

	.carousel-caption h3 {
		font-size: 28px;
	}

	.carousel-caption p {
		font-size: 14px;
	}

	.carousel-caption .btn {
		padding: 14px 16px;
		font-size: 16px;
	}

}

@media (max-width: 850px){

	#myCarouselBanner .carousel-control {
		top: 108px;
	}

}

@media (max-width: 767px){

	#myCarouselBanner .carousel-control {
		top: 10px;
	}

	#myCarouselBanner .carousel-control {
		width: 20px;
		height: 20px;
		line-height:20px;
		font-size:18px;
	}

	.carousel-caption {
		left: 5%;
		right: auto;
		bottom: auto;
		top: 10px;
		padding-bottom: 0;
		padding-top: 5px;
		width: 75%;
		text-align: left;
	}

	#myCarouselBanner .carousel-control.left {
		left: auto;
		right: 35px;
	}

	#myCarouselBanner .carousel-control.right {
		right: 10px;
	}

	.carousel-caption h3 {
		margin-bottom: 5px;
		font-size: 12px;
	}

	.carousel-caption p {
		margin-bottom: 3px;
		font-size: 10px;
	}

	.carousel-caption .btn {
		padding: 4px 16px;
		font-size: 12px;
	}

}

/* Home */

.wrapper-homeads {
	position: relative;
	margin-bottom: 10px;
	width: 100%;
	height: 235px;
	float: left;
	cursor: pointer;
}

.wrapper-homeads .homeads-img {
	width: 100%;
	height: 235px;
	float: left;
}

.wrapper-homeads .homeads-img a span {
	width: 100%;
	height: 235px;
	text-indent: -9999px;
	float: left;
}

.wrapper-homeads .homeads-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.50);
}

.wrapper-homeads:hover .homeads-content {
	background: rgba(0,167,209,0.50);
}

.wrapper-homeads .homeads-content a {
	width: 100%;
	height: 78px;
	display: block;
	padding: 18px 20px;
	font-size: 14px;
	color: #fff;
}

.wrapper-homeads .homeads-content span {
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}

@media (max-width: 1199px){

	.wrapper-homeads {
		height: 200px;
	}

	.wrapper-homeads .homeads-img {
		height: 200px;
	}

	.wrapper-homeads .homeads-img a span {
		height: 200px;
	}

	.wrapper-homeads .homeads-content span {
		font-size: 16px;
	}

}

@media (max-width: 991px){

	.wrapper-homeads {
		height: 160px;
	}

	.wrapper-homeads .homeads-img {
		height: 160px;
	}

	.wrapper-homeads .homeads-img a span {
		height: 160px;
	}

	.wrapper-homeads .homeads-content a{
		padding: 14px 12px;
		height: 68px;
	}


	.wrapper-homeads .homeads-content a {
		font-size: 12px;
	}

	.wrapper-homeads .homeads-content span {
		font-size: 13px;
	}


}

@media (max-width: 767px){

	.wrapper-homeads {
		height: 300px;
	}

	.wrapper-homeads .homeads-img {
		height: 300px;
	}

	.wrapper-homeads .homeads-img a span {
		height: 300px;
	}
}

@media (max-width: 500px){

	.wrapper-homeads {
		height: 200px;
	}

	.wrapper-homeads .homeads-img {
		height: 200px;
	}

	.wrapper-homeads .homeads-img a span {
		height: 200px;
	}
}



#homepage-content h2 {
	margin:0;
	margin-bottom: 20px;
	color: #f38713;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}

.wrapper-homeconts {
	padding-bottom: 30px;
	font-size: 14px;
	color: #5e5e5e;
	text-align: center;
}

.wrapper-homeconts a {
	color: #00a7d1;
}

.headlist h2 {
	margin: 0;
	margin-bottom: 35px;
	color: #5e5e5e;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
}

.wrapper-homecategs {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 235px;
	float: left;
	cursor: pointer;
}

.wrapper-homecategs .homeads-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 18px 20px;
	background: rgba(0,0,0,0.50);
}

.wrapper-homecategs:hover .homeads-content {
	background: rgba(0,167,209,0.50);
}

.wrapper-homecategs .homeads-content h3 {
	margin: 0;
	font-size: 18px;
}

.wrapper-homecategs .homeads-content h3 a {
	color: #fff;
}

.homecateglist:last-child .homeads-content {
	background: rgba(243,135,19,0.90);
}

{
	text-transform: uppercase;
}

.homecateglist:last-child:hover .homeads-content {
	background: rgba(0,167,209,0.50);
}

@media (max-width: 1199px){
	.wrapper-homecategs {
		height: 200px;
	}

	.wrapper-homecategs .homeads-content {
		padding: 14px 10px;
	}

	.wrapper-homecategs .homeads-content h3 {
		font-size: 14px;
	}
}

@media (max-width: 991px){
	.wrapper-homecategs {
		height: 150px;
	}

	.wrapper-homecategs .homeads-content {
		padding: 14px 6px;
	}

	.wrapper-homecategs .homeads-content h3 {
		font-size: 11px;
	}
}

@media (max-width: 767px){

	#homepage-content h2 {
		font-size: 18px;
	}

	.headlist h2 {
		font-size: 18px;
	}

	.wrapper-homecategs {
		height: 300px;
	}

}

@media (max-width: 650px){

	.wrapper-homecategs {
		height: 240px;
	}

}

@media (max-width: 500px){

	.wrapper-homecategs {
		height: 180px;
	}

}

@media (max-width: 400px){

	.wrapper-homecategs {
		height: 120px;
		margin-bottom: 10px;
	}

}


/* Home Brands  */

.wrapper-homebrands {
	margin-bottom: 20px;
	width: 100%;
	height: 55px;
	text-indent: -9999px;
	float: left;
	cursor: pointer;
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(100%);
}

.brandlist-button {
	padding-top: 10px;
}

.brandlist-button .btn {
	font-size: 12px;
	font-weight: 700;
	color: #5e5e5e;
	border-color: #efefef;
	text-transform: uppercase;
}

.wrapper-homebrands:hover {
	opacity: 0.8;
}

@media (max-width: 991px){

	.row-home-brands {
		text-align: center;
	}

	.row-home-brands .homebrandlist {
		width: 20%;
		float: none;
		display: inline-block;
	}

	.row-home-brands .brandlist-button {
		margin-bottom: 20px;
		float: none;
		display: inline-block;
	}

	.wrapper-homebrands {
		margin-bottom: 5px;
	}

}

@media (max-width: 767px){
	.row-home-brands .homebrandlist {
		width: 50%;
	}
}

/* Category */

.categname {
	margin-top: 0;
	font-size: 32px;
	font-weight: 700;
	color: #000;
}

.productvideo {
	position: relative;
}

.productvideo img {
	max-width: 100%;
}

.wrapper-categ-vid .playbutton {
	padding: 14px 26px;
	background: rgba(0,0,0,0.80);
	border-radius: 9px;
	font-size: 22px;
	color: #fff;
	position: absolute;
	top: 40%;
	line-height: 22px;
	left: 40%;
}

.wrapper-categ-vid .productvideo:hover .playbutton,
.wrapper-categ-vid .productvideo:focus .playbutton {
	background:#cc181e;
}

.wrapper-sortcontainer {
	margin-bottom: 15px;
	width: 100%;
	padding: 8px 0;
	float: left;
	background-color: #efefef;
}

.wrapper-sortdrop {
	padding-left: 0;
}

.sortdroplabel {
	font-weight: 400;
}

.viewby {
	padding-top: 6px;
}

.viewby a {
	color: #ccc;
	font-size: 20px;
	padding: 2px;
}

.viewby a.active {
	color: #00a7d1;
}

.wrap-categ-desc iframe {
	max-width: 100%;
}

.wrap-categ-desc img {
	max-width: 100%;
	height: auto !important;
	width: auto !important;
}

.wrapper-subcategs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper-subcategs li {
	width: 50%;
	padding-right: 10px;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

@media (max-width: 767px) {
	.sortdroplabel {
		text-align: right;
	}

	.wrapper-subcategs li {
		width: 100%;
		padding-right: 0;
	}
}


/* Pagination */

.pagination{
	margin: 0;
}

.wrapper-pagination{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	padding: 11px 0;
	float: left;
	background-color: #efefef /*{pagination-bg-colour}*/;
}

.pagination > li {
  	display: inline;
	margin: 0 5px;
	float: left;
}

.pagination > li > a,
.pagination > li > span {
  	position: relative;
	margin-left: 0;
  	float: left;
  	padding: 6px 9px;
  	line-height: 14px;
  	text-decoration: none;
  	color: #5e5e5e /*{pagination-link-colour}*/;
  	background-color: #fff /*{pagination-link-bg-colour}*/;
  	border: 1px solid #fff /*{pagination-link-border-colour}*/;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  	margin-left: 0;
  	border-bottom-left-radius: 0;
  	border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  	border-bottom-right-radius: 0;
  	border-top-right-radius: 0;
}

.pagination > li.pleft > a,
.pagination > li.pright > a {
	background: none;
	border: none;
}

.pagination > li.pleft > a:hover,
.pagination > li.pright > a:hover,
.pagination > li.pleft > a:focus,
.pagination > li.pright > a:focus {
	background: none;
	border: none;
}


.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  	color: #5e5e5e /*{pagination-link-hover-colour}*/;
  	background-color: #fff /*{pagination-link-hover-bg-colour}*/;
  	border-color: #00a7d1 /*{pagination-link-hover-border-colour}*/;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  	z-index: 2;
  	color: #fff /*{pagination-link-active-colour}*/;
  	background-color: #00a7d1 /*{pagination-link-active-bg-colour}*/;
  	border-color: #00a7d1 /*{pagination-link-active-border-colour}*/;
  	cursor: default;
}

/* Search */

.search-results-search .btn {
	padding-top: 11px;
}

@media (max-width: 343px) {
	.search-results-search .btn {
		font-size: 18px;
	}
}


/* Product */

#n_product h1 {
	font-size: 30px;
	font-weight: 700;
}

.wrapper-prod-right {
	margin-bottom: 20px;
	padding: 20px;
	background: #efefef;
}

.productpricetext {
	font-size: 35px;
	font-weight: 700;
	color: #f31313;
}

.productrrpwrap {
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: 700;
}

.productrrpwrap .productrrptext {
	color: #000;
}

.productrrpwrap .productrrptext span {
	text-decoration: line-through;
}

.productrrpwrap .productsavewrap {
	color: #969696;
}

.wrap-qtylabel,
.variation-namewrap {
	padding-right: 5px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
}

.wrap-qtylabel span,
.variation-namewrap span {
	line-height: 18px;
	display: inline-block;
}

.wrap-qtyfield, .specific {
	margin-bottom: 15px;
	padding-left: 0;
}

.specific {
	padding-top: 0;
	padding-bottom: 0;
}

.wrap-qtyfield .form-control {
	padding-top: 3px;
	padding-bottom: 3px;
	width: 72px;
	height: 40px !important;
}

.n-wrapper-form-control select {
	height: 40px !important;
	line-height: 40px;
	box-shadow: none;
	border-color: #e1e1e1;
}

.wrap-prodbtn .btn {
	height: 55px;
	font-size: 22px;
	font-weight: 700;
}

.wrap-prodbtn .btn.btn-notifyme {
	font-size: 17px;
	line-height: 35px;
}

.reviewwrap {
	font-size: 16px;
	color: #00a7d1;
}

.reviewwrap a {
	color: #00a7d1;
}

.divider-prod {
	margin-left: -20px;
	margin-right: -20px;
}

.divider-prod hr {
	border-color: #e6e6e6;
	border-width: 3px;
}

.freeshipping {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 700;
}

#multiitemadd .freeshipping {
    margin-bottom: 5px;
}

#multiitemadd .freeshipping > a,
#multiitemadd a {
    color: #5e5e5e;
}

#multiitemadd .freeshipping > a {
    font-size: 16px;
}

#multiitemadd a {
    font-size: 13px;
}

.needhelpwrap h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.needhelpwrap h3 i {
	color: #00a7d1;
}

.needhelpwrap ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.needhelpwrap ul li {
	margin-bottom: 4px;
	width: 100%;
	display: inline-block;
}

.needhelpwrap ul li a {
	font-size: 15px;
	font-weight: 700;
	color: #5e5e5e;
}

.needhelpwrap ul li span {
	margin-right: 10px;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	border-radius: 50%;
	background: #f38713;
}

.needhelpwrap ul li span i {
	margin-right: -3px;
}

.needhelpwrap ul li a:hover,
.needhelpwrap ul li a:focus {
	color: #f38713;
}

.freqproduct > h3 {
	position: relative;
	margin: 0;
	padding-left: 20px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.freqproduct > h3:before {
	position: absolute;
    left: 0;
	content: "\f138";
    font-family: FontAwesome;
    color: #00a7d1;
    font-size: 18px;
}

.thumb-upsell {
	background: none;
	border: none;
}

.upsell-img {
	padding-left: 0;
	padding-right: 8px;
}

.upsell-img img {
	border: 1px solid #e6e6e6;
}

.upsell-text {
	padding-left: 8px;
	padding-right: 0;
}

.upsell-text h5 {
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 12px;
}

.upsell-text h5 a {
	color: #5e5e5e;
}

.upsell-text .btn {
	padding-left: 16px;
	padding-right: 16px;
	font-size: 12px;
	font-weight: 700;
}

.panel-product.panel-group .panel + .panel {
	margin-top: 10px;
}

.panel-product .panel-default {
	border: none;
	box-shadow: none;
}

.panel-product .panel-heading {
	padding: 0;
}

.panel-product .panel-heading h4 a {
	display: block;
	padding: 14px 16px;
}

.panel-product .panel-body {
	overflow: auto;
	border: none !important;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
  	font-size: 14px !important;
}

.panel-product .panel-body p,
.panel-product .panel-body div,
.panel-product .panel-body span,
.panel-product .panel-body a,
.panel-product .panel-body ul li {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
  	font-size: 14px !important;
}

.panel-product .panel-title a {
	background: #00a7d1;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.panel-product .panel-title a:before{
	width: 24px;
    content: "\f146";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    float:left;
    color:#fff;
}

.panel-product .panel-title a.collapsed {
	background: #efefef;
	color: #5e5e5e;
}

.panel-product .panel-title a.collapsed:before {
	width: 24px;
    content: "\f0fe";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    float:left;
    color:#00a7d1;
}

.prodreview-wraphead {
	padding: 14px 16px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	background: #00a7d1;
}

.prodreview-wrapconts {
	padding: 28px 16px;
}

.prodreview-wrapconts h4 {
	font-size: 18px;
	font-weight: 700;
}

.prodreview-wrapconts .btn {
	color: #fff;
	font-weight: 700;
	border-color: #5e5e5e;
	background: #5e5e5e;
}

.prodreview-wrapconts .fa-star,
.prodreview-wrapconts .fa-star-o {
	color: #00a7d1;
}

.prodreview-wrapconts .btn:hover,
.prodreview-wrapconts .btn:focus {
	border-color: #3c3c3c;
	background: #3c3c3c;
}

.wrapper-prodvid iframe {
	max-width: 100%;
}

.row-thumbs-alt {
	margin-left: -6px;
	margin-right: -6px;
}

.row-thumbs-alt .wrap-alt {
	padding-left: 6px;
	padding-right: 6px;
}

.wrap-alt img {
	border: 1px solid #efefef;
}

.reviewlink {
	cursor: pointer;
}

.main-image {
	margin-bottom: 45px;
	max-height: 462px;
	min-height: 462px;
	overflow: hidden;
}


.wrapper-prodvid .playbutton {
	padding: 14px 26px;
	background: rgba(0,0,0,0.80);
	border-radius: 9px;
	font-size: 22px;
	color: #fff;
	position: absolute;
	top: 40%;
	line-height: 22px;
	left: 40%;
}

.wrapper-prodvid .productvideo:hover .playbutton,
.wrapper-prodvid .productvideo:focus .playbutton {
	background:#cc181e;
}

.wrapper-prodvid {
	margin-bottom: 15px;
}

.wrapper-buy-interface-disabled > a{
	opacity: .8;
	cursor: not-allowed;
}

.wrapper-buy-interface-disabled *{
	cursor:not-allowed;
}




@media (max-width: 1199px){

	.wrap-prodbtn .btn.btn-notifyme {
		font-size: 14px;
	}

	.main-image {
		max-height: 380px;
		min-height: 380px;
	}

}

@media (max-width: 991px){

	.main-image {
		max-height: 250px;
		min-height: 250px;
	}

}

@media (max-width: 767px){

	.wrap-prodbtn .btn.btn-notifyme {
		font-size: 13px;
	}

	.main-image {
		max-height: 500px;
		min-height: 500px;
		margin-bottom: 10px;
		text-align: center;
	}

	#myCarouselproductimage .carousel-control {
		top: 50%;
		margin-top: -18px;
		width: 36px;
		height: 36px;
		opacity: 1.0;
		z-index: 999;
		line-height: 36px;
		text-align: center;
	}



	#myCarouselproductimage .carousel-control.left,
	#myCarouselproductimage .carousel-control.right {
		background: rgba(0,0,0,0.50);
	}

	#myCarouselproductimage .carousel-inner .item a {
		display: block;
		text-align: center;
	}

	#myCarouselproductimage img {
		max-width: 100%;
		height: 500px;
		object-fit: contain;
		display: inline-block;
	}


.navbar-responsive-collapse2.navbar-collapse.in {
    overflow-y: visible;
}

.wrapper-nav .navbar-responsive-collapse2 .nav > li > a {
	color: #00a7d1;
}


}

@media (max-width: 600px){

	.main-image {
		max-height: 400px;
		min-height: 400px;
	}

	#myCarouselproductimage img {
		height: 400px;
	}

}

@media (max-width: 500px){

	.main-image {
		max-height: 300px;
		min-height: 300px;
	}

	#myCarouselproductimage img {
		height: 300px;
	}


}

@media (max-width: 400px){

	.main-image {
		max-height: 150px;
		min-height: 150px;
	}

	#myCarouselproductimage img {
		height: 150px;
	}


}

/* Brand Page */

.brand-image,
.brand-name {
	text-align: center;
}

@media (max-width: 991px){
	.wrap-qtylabel,
	.variation-namewrap {
		padding-right: 15px;
	}

	.wrap-qtyfield,
	.specific {
		padding-left: 15px;
	}

	.freeshipping {
		margin-bottom: 10px;
		font-size: 14px;
	}

	.wrap-qtyfield .form-control {
		width: 100%;
	}

	.panel-product .panel-title a {
		font-size: 14px;
	}

}

@media (max-width: 767px){
	#n_product h1 {
		font-size: 16px;
	}

	.panel-product iframe,
	.panel-product img {
		max-width: 100%;
	}

	.prodreview-wraphead {
		font-size: 14px;
	}

	.reviewwrap {
		text-align: right;
		font-size: 11px;
	}

	.reviewwrap .reviewlink {
		display: block;
	}

	.productpricetext {
		font-size: 20px;
	}

	.wrap-rev-mob {
		padding-left: 0;
	}

	.productrrpwrap {
		font-size: 10px;
	}

	.sizeguidelink {
		text-align: right;
		line-height: 40px;
	}

	.mob-share {
		padding-left: 0;
	}

	.mob-share > a > i {
		color: #00a7d1;
	}

	.mob-needhelp {
		padding-right: 0;
	}

	.mob-needhelp > a > i {
		color: #00a7d1;
	}

	.wrapper-contact-mob {
		margin-bottom: 20px;
	}

	.divider-prod hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.wrapper-prod-right {
		padding: 10px 20px;
	}
}

/* Featured Footer */

.wrapper-featuredfooter .headlist h2 {
	color: #f38713;
}

.wrapper-featuredfooter ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.wrapper-featuredfooter ul li {
	display: inline-block;
	padding: 0 20px 20px;
}

.wrapper-featuredfooter ul li a:hover {
	opacity: 0.8;
}

@media (max-width: 991px){

	.wrapper-featuredfooter ul li {
		padding: 0 10px 10px;
	}

}

/* Newsletter */

.wrapper-newslet {
	padding: 40px 0;
	background: #efefef;
}

.newslettext {
	padding-right: 0;
	font-size: 26px;
	font-weight: 700;
	line-height: 45px;
	color: #00a7d1;
	text-align: right;
}

.newsletform {
	padding-left: 30px;
}

.newsletfield {
	width: 220px;
	margin-right: 10px;
	float: left;
}

.newsletfield .form-control {
	height: 45px;
	font-size: 16px;
}

.newsletbutton {
	width: 142px;
	float: left;
}

.newsletbutton .btn {
	height: 45px;
	font-size: 18px;
}

@media (max-width: 1199px){

	.newslettext {
		font-size: 20px;
	}

	.newsletfield {
		width: 180px;
	}

	.newsletbutton {
		width: 122px;
	}

}

@media (max-width: 991px){

	.newsletform {
		padding-left: 15px;
	}

	.newslettext {
		padding-right: 15px;
		font-size: 16px;
		text-align: center;
	}

	.newsletfield {
		 width: 33.33333333333333%;
		 margin-right: 0;
		 padding-right: 10px;
	}

	.newsletbutton {
		 width: 33.33333333333333%;
	}

}

@media (max-width: 767px){

	.wrapper-newslet {
		margin-top: 20px;
		padding: 20px 0;
	}

	.newsletfield {
		 width: 100%;
		 padding-right: 0;
		 margin-bottom: 10px;
	}

	.newsletbutton {
		 width: 100%;
	}

	.newsletfield .form-control {
		height: 34px;
		font-size: 14px;
	}

	.newsletbutton .btn {
		height: 34px;
		font-size: 14px;
	}

	.newslettext {
		font-size: 14px;
	}

}



/* Footer Payment */

.wrapper-social-and-payment {
	background: #efefef;
}

.social-payment-conts {
	padding: 24px 0;
	background: #e2e2e2;
}

.wrapper-social-and-payment h4 {
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.social-column {
	padding-left: 55px;
}

.list-social a {
	color: #fff;
	font-size: 21px;
}

.list-social a:hover,
.list-social a:focus {
	color: #fff;
	opacity: 0.8;
}

.list-inline.list-social > li {
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 5px;
	float: left;
}

.list-payment-icons {
	margin-bottom: 0;
	width: 100%;
	float: left;
}

.list-inline.list-payment-icons > li {
	padding-left: 0;
	padding-right: 10px;
	padding-bottom: 5px;
	float: left;
}

.bg-facebook, .bg-twitter, .bg-gplus, .bg-ytube, .bg-ig, .bg-pin, .bg-tmblr, .bg-linkedin {
	width: 41px;
	height: 41px;
	display: inline-block;
	text-align: center;
	line-height: 41px;
	color: #fff;
	font-size: 22px;
	border-radius: 50%;
}

.bg-facebook{
	background: #3b5998;
}

.bg-twitter{
	background: #00acee;
}

.bg-gplus{
	background: #dd4b39;
}

.bg-ytube{
	background:#c4302b;
}

.bg-ig{
	background: #3f729b;
}

.bg-pin{
	background: #c8232c;
}

.bg-tmblr{
	background: #34526f;
}

.bg-linkedin{
	background: #0e76a8;
}

.geotrustlogo img {
	max-width: 100%;
}

.comodologo img {
	width: 120px;
	height: auto;
}

.payment-text {
	margin-bottom: 0;
	font-size: 11px;
}

@media (max-width: 767px){
	.social-payment-conts {
		text-align: center;
	}
	.social-column {
		padding-left: 15px;
	}

	.list-inline.list-social > li {
		float: none;
	}

	.list-inline.list-payment-icons > li {
		float: none;
	}

	.social-column,
	.payment-column,
	.secure-column {
		margin-bottom: 20px;
	}

}

/* Footer */

.wrapper-footer {
	padding: 35px 0 45px;
	background: #efefef;
}

.wrapper-footer h4 {
	font-size: 14px;
	font-weight: 700;
	color: #00a7d1;
}

.wrapper-footer .nav > li > a {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 13px;
	color: #5e5e5e;
}

.wrapper-footer .nav > li > a i {
	margin-top: 2px;
	width: 9px;
	display: inline-block;
	color: #00a7d1;
	vertical-align: top;
}

.wrapper-footer .nav > li > a span {
	width: 155px;
	display: inline-block;
}

.wrapper-footer .nav > li > a:hover,
.wrapper-footer .nav > li > a:focus {
	color: #00a7d1;
}

.wrap-fmenulist {
	padding-right: 0;
}

.row-copyright {
	font-size: 11px;
	text-align: center;
}

.row-copyright a {
	color: #5e5e5e;
}

.wrapper-footer hr {
	margin-top: 30px;
	margin-bottom: 30px;
	border-color: #e1e1e1;
}

.social-counter {
	margin-top: 10px;
	width: 100%;
	float: left;
}

.fbcounter,
.gcounter {
	display: inline-block;
	vertical-align: top;
}

.wrap-footer-mobile ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.wrap-footer-mobile ul li {
	display: inline-block;
	border-right: 1px solid #5e5e5e;
	line-height: 14px;
}

.wrap-footer-mobile ul li:last-child {
	border-right: none;
}

.wrap-footer-mobile ul li a {
	padding: 0 5px;
	line-height: 14px;
	font-size: 10px;
	color: #5e5e5e;
	text-transform: uppercase;
}

@media (max-width: 1199px){
	.wrapper-footer .nav > li > a span {
		width: 122px;
	}
}

@media (max-width: 991px){

	.wrapper-footer h4 {
		height: 30px;
	}

	.wrapper-footer .nav > li > a span {
		width: 84px;
	}

	.social-column {
		padding-left: 35px;
	}

	.fbcounter,
	.gcounter {
		margin-bottom: 5px;
	}
}

@media (max-width: 767px){

	.wrapper-footer {
		padding: 15px 0;
	}

	.wrapper-footer h4 {
		height: auto;
	}

	.wrapper-footer .nav > li > a span {
		width: auto;
	}

	.wrap-fmenulist {
		padding-right: 15px;
	}

	.wrap-fmenulist ul {
		margin-bottom: 20px;
	}

	.social-column {
		padding-left: 15px;
	}
}


@media (min-width: 768px){
	.dropdown-hover:hover > .dropdown-menu {
		display: block;
	}
}

@media (max-width: 1199px){
	.cart-btn-update .visible-lg,
	.cart-btn-remove .visible-lg {
		display:block !important;
	}
}

@media (max-width: 991px){

	.cart-btn-update .visible-lg,
	.cart-btn-remove .visible-lg {
		display:none !important;
	}

	.dropdown-menu {
		font-size: 12px;
	}
}

@media (max-width: 767px){

	/* Cart */
	.cart-btn-update .visible-sm,
	.cart-btn-remove .visible-sm {
		display:block !important;
	}

	.cart-qty-box,
	.cart-btn-update,
	.cart-btn-remove {
		padding-left:0px;
		padding-right:0px;
	}

	.cart-qty-box input{
		padding-left:0px;
		padding-right:0px;
	}

	._cpy_vouchershow.btn{
		padding: 18px 6px;
		font-size: 9px !important;
	}

	.wrapper-nav .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
		display: block;
	}

}

@media (max-width: 343px){
	.sort_container .btn{
		padding:6px 8px;
		font-size:14px;
	}

	.prdimg{
		display:none;
	}

	#n_checkout .btn{
		font-size:12px;
	}

	#n_checkout .btn-lg{
		font-size:16px;
	}

	.btn-lg{
		font-size:16px;
	}

	._cpy_vouchershow.btn{
		font-size: 8px !important;
		padding: 18px 6px;
	}

	#n_checkout .newslet-wrapper .btn{
		font-size:14px;
	}

	.myacct-links .small{
		font-size:10px;
	}

}

/* Responsive Carousel */

.jcarousel-wrapper {
	position:relative;
	width: 100%;
}

.jcarousel {
	position: relative;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
}

.jcarousel .altimgscroll-wrap {
	position: relative;
	margin: 0;
	padding: 0;
	width: 20000em;
	list-style: none;
}

.jcarousel-prev,
.jcarousel-next {
	position: absolute;
	display: block;
	font-size: 40px;
	color: #4e4e4e;
}


.row-thumbs-alt .jcarousel-prev,
.row-thumbs-alt .jcarousel-next {
	top: 35px;
}

.row-thumbs-alt.row-thumbs-alt-col .jcarousel-prev,
.row-thumbs-alt.row-thumbs-alt-col .jcarousel-next {
	top: 20px;
}


.jcarousel-prev {
	left: 6px;
}

.jcarousel-next {
	right: 6px;
}


@media (max-width: 991px) {

	.jcarousel-wrapper .visible-sm {
		display: block !important;
	}
	.row-thumbs-alt .jcarousel-prev,
	.row-thumbs-alt .jcarousel-next {
		top: 20px;
	}


}
@media (max-width: 767px) {

	.featuredcarwrap .wrapper-thumbnail{
		float: left;
	}

	.jcarousel-wrapper .visible-xs {
		display: block !important;
	}

	.row-thumbs-alt .jcarousel-prev,
	.row-thumbs-alt .jcarousel-next {
		top: -40px;
	}

	.row-thumbs-alt.row-thumbs-alt-col .jcarousel-prev,
	.row-thumbs-alt.row-thumbs-alt-col .jcarousel-next {
		top: -40px;
	}

	.jcarousel-prev,
	.jcarousel-next {
		width: 30px;
		height: 30px;
		position: absolute;
		display: block;
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		color: #4e4e4e;
		background: #F4F4F4;
	}

	.jcarousel-prev {
		left: auto;
		right: 42px;
	}



}

.fancybox-overlay {
	z-index: 10003 !important;
}

.fancybox-opened {
	z-index: 10004 !important;
}

.fancybox-close {
	z-index: 10005 !important;
}


/* Right Navigation */
.right-nav{
	position: fixed;
	right: 0;
	top: 215px;
	width: 50px;
	height: auto;
	z-index: 35;
	background: #3c3b3b;
}

.right-nav>ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

.right-nav>ul>li{
	border-bottom:1px solid #5e5e5e;
	text-align:center;
	position:relative;
}

.right-nav>ul>li.mycart{
	border-bottom:none;
	text-align:center;
	position:relative;
}

.right-nav>ul>li>a{
	width:50px;
	height:50px;
	line-height:50px;
	font-size:22px;
	display:block;
	position:relative;
	color:#fff;
}

.right-nav .tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  text-transform:uppercase;
}
.right-nav .tooltip.in {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.right-nav .tooltip.left {
  margin-left: 0px;
  padding: 0px 0px;
}

.right-nav .tooltip-inner {
  max-width: 250px;
  padding: 15px 16px 16px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #3c3b3b;
  border-radius: 0px;
  border-bottom:1px solid #5d5d5d;

}

.right-nav>ul>li.mycart .tooltip-inner{
	border-bottom:none;
	background-color:#3c3b3b;
}

.right-nav .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  display:none;
}


.right-nav .tooltip.left .tooltip-arrow {
  border-width: 8px;
  top: 29px;
  right: 0px;
  margin-top: -11px;
  border-left-color: #5e5e5e;
  border-right-width: 0;
}

.right-nav .tooltip.left .tooltip-arrow:after {
   border-width: 9px;
  content: "";
  right: 0px;
  bottom: -10px;
  border-left-color: #000;
  border-right-width: 0;
}

.chatmob {
	display: none !important;
}

@media (max-width: 1024px){
	.chatdesk {
		display: none !important;
	}

	.chatmob {
		display: inline-block !important;
	}
}

.blog-img img {
	max-width: 100%;
}

.white-background {
    background: #fff !important;
}

.response {
	margin-left: 30px;
}

.thumb_list .thumbnail-image img {
	width: 100%;
}

.shortdesc {
	font-size: 13px;
	color: #ccc;
	display: none;
}
.featurelist {
	display: none;
}

.featurelist ul {

	margin: 0 !important;
	margin-bottom: 10px !important;
	padding: 0 !important;
	font-size: 13px !important;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
	list-style-position: inside !important;
}

.row-bikes-categ .shortdesc {
	display: block;
    color:#777;
    font-size:14px;
}

.row-bikes-categ .featurelist {
	display: block;

}
@supports (object-fit: cover) {
  @media (min-width: 991px){
      .row-bikes-categ img.product-image.img-responsive {
          object-fit: cover;
          height: 215px;
          width: 100%;
      }

      .row-bikes-categ .panel.panel-default {
        max-height: 250px;
        overflow: hidden;
      }
  }
}


._zip_money_widget {
	margin-top: 10px;
    text-align:center;
}

._zip_money_widget img {
  max-width: 100%;
  margin-top:15px;
}

.payment-icon-zipmoney {
	background-image: url(../img/payment_icon.png);
	background-repeat: no-repeat;
	height:32px;
	background-size:100%;
}
.nCustom-badge {
    position: absolute;
    z-index: 999;
}
.nCustom-badge .btn {
    background-color: #36A7D3;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 80%;
    padding: 5px 10px;
}
.unpad {
	padding:0px;
}
.components-thumbnail .caption .componenttitle {
	font-size:14px;
	text-align:left;
}
@media (max-width:390px) {
	.caption .title {
		height:3.2em;
	}
}
@media (min-width:768px) and (max-width:1199px) {
	.caption .title {
		height:3.2em;
	}
}
.unvariationtitle {
	height:3.2em !important;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -83.33333333333334%; /* 8 columns */
  }
  .row-offcanvas-left.active {
    left: 83.33333333333334%; /* 8 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 83.33333333333334%; /* 8 columns */
	padding-right: 0;
	background: #eaebec;
  }

  .main-wrap-conts {
	  padding-top: 20px;
	  padding-bottom: 20px;
  }
}

/* #186081 */

.zipmoney-wrap {
    margin-bottom: 10px;
    float: right;
    width: 95px;
    text-align: center;
}

.zipmoney-wrap span {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width:1199px) {
    .zipmoney-wrap {
        margin-bottom: 10px;
        float: none;
        width: 100%;
        text-align: center;
        font-size: 11px;
        clear:both;
    }

    .zipmoney-wrap img {
        max-width: 80px;
    }
}

/* #188844 */

.subcateg-list {
	width: 100%;
	float: left;
	border: 1px solid #ddd;
}

.wrap-subcateg-list {
    width: 33.33333333333333%;
    float: left;
	padding-bottom: 20px;
    border: 1px solid #ddd;
    border-left: none;
    border-top: none;
	text-align: center;
}

.wrap-subcateg-list:nth-child(3n) {
	border-right: none;
}

.wrap-subcateg-list .subcateg-list-name a {
	font-size: 16px;
    font-weight: bold;
}

.subcateg-list-img {
	width: 100%;
	float: left;
	text-align: center;
}

.subcateg-list-img img {
	height: 200px;
	object-fit: contain;
	max-width: 100%;
}

.subcateg-list-name {
	width: 100%;
	float: left;
}

.subcateg-list-name h3 {
	font-size: 14px;
	height: 3em;
	overflow: hidden;
}

.subcateg-list-name h3 a {
	color: #5e5e5e;
}

.subcateg-list-name h3 a:hover,
.subcateg-list-name h3 a:focus {
	color: #0083a4;
}

/*.subcateg-list-shopnow {
	width: 100%;
	float: left;
}*/

/*modified*/
.subcateg-list-shopnow {
	width: 90%;
    float: left;
    left: 5%;
    position: relative;
}
/*end of modification*/

@media screen and (max-width: 991px){
	.wrap-bike-type iframe {
		width: 100% !important;
	}
}

.wrap-bike-type img {
	max-width: 100% !important;
}

.revwrap h4 {
	font-size: 18px;
    font-weight: 700;
}

.revwrap h4 a {
	color: #5e5e5e;
}

.revwrap h4 a:hover,
.revwrap h4 a:focus {
	color: #0083a4;
}

.topcateg-wraphead {
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #00a7d1;
}

.feat-blog-wrap {
	width: 100%;
	float: left;
	border: 1px solid #ddd;
	margin-bottom: 30px;
}

.feat-blog-img {
	width: 100%;
	height: 260px;
	float: left;
	text-indent: -9999px;
	cursor: pointer;
}

.feat-blog-img-mob {
	width: 100%;
	float: left;
	text-align: center;
}

.feat-blog-img-mob img {
	max-width: 100%;
	height: 260px;
	object-fit: contain;
}

.feat-blog-desc {
	width: 100%;
	float: left;
	padding: 12px 8px;
}

.feat-blog-title {
	width: 100%;
	float: left;
}

.feat-blog-title h3 {
	font-size: 14px;
	height: 2.5em;
	overflow: hidden;
}

.feat-blog-title h3 a {
	color: #5e5e5e;
	font-size: 16px;
    font-weight: bold;
}

.feat-blog-title h3 a:hover,
.feat-blog-title h3 a:focus {
	color: #0083a4;
}

.feat-blog-text {
	width: 100%;
	float: left;
	height: 85px;
	overflow: hidden;
	font-size: 12px;
}

@media (max-width: 1199px) {
	.feat-blog-img {
		height: 210px;
	}

	.feat-blog-img-mob img {
		height: 210px;
	}
}

@media (max-width: 991px) {
	.feat-blog-img {
		height: 249px;
	}

	.feat-blog-img-mob img {
		height: 249px;
	}
}

@media (max-width: 767px) {

	.wrap-subcateg-list {
    width: 50%;
	}

	.subcateg-list-img img {
		height: 180px;
	}

	.wrap-subcateg-list:nth-child(3n) {
		border-right: 1px solid #ddd;
	}

	.wrap-subcateg-list:nth-child(2n) {
		border-right: none;
	}

	.feat-blog-img-mob img {
		height: auto;
	}

}

@media (max-width: 350px) {

	.feat-blog-img-mob img {
		width: 100%;
	}

}

.wrap-tour-info {
	width: 100%;
	float: left;
	padding-top: 20px;
}

.wrap-tour-info p {
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

.wrap-tour-info p i {
	color: #00a7d1;
	margin-right: 10px;
}

.wrap-tour-info ul {
	padding: 0;
	padding-top: 20px;
	list-style: none;
}

.wrap-tour-info ul li {
	position: relative;
	padding-left: 20px;
	display: block;
}

.wrap-tour-info ul li:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
	color: #5cb85c;
}

/* Blog */

.wrapper-ig-follow .btn {
	margin-top: 10px;
	background: #30658f;
	border-color: #30658f;
	border-radius: 4px;
	font-size: 12px;
}

.side-newsletfield .form-control {
	margin-bottom: 10px;
}

.panel-newslet h3 {
	font-size: 16px;
	font-weight: 700;
	color: #00a7d1;
}

.panel-newslet p {
	font-size: 13px;
}

.side-blog-img {
	padding-right: 0;
}

.side-blog-img img {
	max-width: 100%;
}

.side-blog-name h3 {
	font-size: 13px;
	font-weight: 700;
}

.side-blog-name h3 a {
	color: #5e5e5e;
}

.side-blog-name h3 a:hover,
.side-blog-name h3 a:focus {
	color: #00a7d1;
}

.side-blog-name p {
	font-size: 12px;
}

@media (max-width: 991px) {

	.panel-social-media {
		display: none;
	}

}

.carousel-images {
    max-width: 100%;
}

#n_product .slick-dots {
    bottom: -35px;
}

#n_product .slick-dots li button:before {
    font-size: 24px;
}

#n_product .slick-arrow {
    position: absolute;
    bottom: -37px;
    z-index: 999;
    font-size: 20px;
    color: #5e5e5e;
}

#n_product .slick-dots li.slick-active button:before {
    color: #5e5e5e;
    background-color: #5e5e5e;
}

#n_product .slick-dots li button:before {
    content: "";
    width: 15px !important;
    height: 15px !important;
    line-height: 15px;
    border: 1px solid #353535;
    background: #ffffff;
    border-radius: 50%;
}

#n_product .slick-slide {
    outline: none !important;
}

#n_product .slick-dots li button {
    padding: 0;
    width: 15px;
    height: 15px;
    line-height: 15px;
}

#n_product .slick-dots li {
    margin: 0;
}

#n_product .slick-arrow.prev {
    left: 0;
}

#n_product .slick-arrow.next {
    right: 0;
}

#n_product .slick-dots li button:before {
    font-size: 34px;
}

.new-carousel-images {
    margin-bottom: 80px;
}

.new-carousel-images img {
    margin: 0 auto;
    max-height: 462px;
}

#multiitemadd .checkbox .fa-external-link {
    color: #5cb85c;
}

.zoomImg {
    max-height: initial !important;
}
.panel-write-review{
	margin-bottom: 50px;
}
.form-preview-review{
	margin-bottom: 70px;
}

.wrapper-nav #header-cart > button  {
	display: inline-block;
	padding: 18px 16px 17px;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
	background: #f38713;
}

.form-inline {
	margin: 0 auto;
}

.wrapper-footer {
	padding-top: 0;
}

.wrapper-logo a {
    display: block;
}

.cart-items .right {
    padding-left: 10px;
}
