{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Password reset' %}</li>
    </ul>
{% endblock %}

{% block headertext %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <form id="password_reset_form" action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <br>
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
            </div>
            <div class="col-xs-12 col-md-4">
                {% include 'partials/form_field.html' with field=form.email style='stacked' %}
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group form-actions">
                    <br>
                    <button type="submit" class="btn btn-block btn-success btn-lg" data-loading-text="{% trans 'Sending...' %}">
                        <i class="fa fa-envelope"></i>
                        {% trans 'Send reset email' %}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
