{% load i18n static category_tags %}
{% block footer %}
    <div class="wrapper-social-and-payment zdt-hc-footer" data-zdt-hc-pos="1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 social-payment-conts" style="margin-top: 30px;">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 social-column">
                                <h4>Связь с нами</h4>
                                <ul class="list-inline list-social">
                                    <li><a href="{{ config.SOCIAL_VK_LINK }}" class="bg-vk"
                                           target="_blank"><i class="fa fa-vk"></i></a></li>
                                </ul>
                            </div>
                            {% comment %}
                            <div class="col-xs-12 col-sm-5 col-sm-offset-3 payment-column">
                                <h4>Безопасная оплата</h4>
                                <ul class="list-inline list-payment-icons">

                                    <li>
                                        <div class="payment-icon-container">
                                            <div class="payment-icon payment-icon-visa"></div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="payment-icon-container">
                                            <div class="payment-icon payment-icon-mastercard"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper-footer zdt-hc-footer" data-zdt-hc-pos="2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>
            <div class="row row-copyright">
                <div class="col-xs-12">
                    <address>
                        Copyright © {% now "Y" %} Райдер<br>
                    </address>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
