{% load currency_filters %}
{% load i18n %}

<div class="wrapper-nav-cart hidden-xs">
    <div id="header-cart" class="btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'basket:summary' %}">
            <i class="fa fa-shopping-cart"></i>
            <span class="visible-lg visible-inline-lg">Корзина</span>
            (<span rel="a2c_item_count">{{ request.basket.num_items }}</span>)
            <i class="fa fa-caret-down"></i>
        </a>
        {% if request.basket.is_empty %}
            <ul class="dropdown-menu">
                <li class="box" id="neto-dropdown">
                    <div class="body padding" id="cartcontents">
                        <span class="small">Ваша корзина пустая. Добавьте товары в корзину и они тут появятся.</span>
                    </div>
                    <div class="footer"></div>
                </li>
            </ul>
        {% else %}
            <ul class="dropdown-menu pull-right">
                <li>{% include "basket/partials/basket_quick.html" %}</li>
            </ul>
        {% endif %}
    </div>
</div>