{% load i18n flatpages flatpages_tags %}

<div class="wrapper-topaccount hidden-xs zdt-hc-header" data-zdt-hc-pos="0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <ul class="topcontact">
                    <li><a href="callto:{{ config.COMPANY_PHONE }}"><i
                            class="fa fa-phone"></i> {{ config.COMPANY_PHONE }}</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9 hidden-xs">
                <ul class="topaccount pull-left">
                    <li><a href="{% url "article-list" %}">Новости и статьи</a></li>
                    {% get_flatpages_menu 'top' as flatpages %}
                    {% if flatpages %}
                        {% for flatpage in flatpages %}
                            <li><a href="{{ flatpage.get_absolute_url }}">{{ flatpage.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="topaccount">
                    {% if user.is_authenticated %}
                        <li>
                            {% if num_unread_notifications > 0 %}
                                If user has new notifications - we change account link to go to inbox
                                <a href="{% url 'customer:notifications-inbox' %}">
                                    <i class="icon-user"></i>
                                    {% trans "Account" %}
                                    <span class="label label-important">{{ num_unread_notifications }}</span>
                                </a>
                            {% else %}
                                <a href="{% url 'customer:summary' %}">
                                    <i class="fa fa-user"></i> {% trans "Account" %}</a>
                            {% endif %}
                        </li>
                        {% if user.is_staff or perms.partner.dashboard_access %}
                            <li><a href="{% url 'dashboard:index' %}">
                                <i class="fa fa-dashboard"></i> {% trans "Dashboard" %}</a></li>
                        {% endif %}
                        <li><a id="logout_link" href="{% url 'customer:logout' %}">
                            <i class="fa fa-sign-out"></i> {% trans "Logout" %}</a></li>
                    {% else %}
                        <li>
                            <a id="login_link" href="{% url 'customer:login' %}"><i class="fa fa-user"></i> Вход</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>