{% load i18n %}
{% load thumbnail %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% if basket_warnings %}
    <h5>{% trans "Important messages about items in your basket" %}</h5>
    {% for warning in basket_warnings %}
        <div class="alert">{{ warning }}</div>
    {% endfor %}
{% endif %}

{% if upsell_messages %}
    <div class="well">
        <h3>{% trans "You could be missing out on offers!" %}</h3>
        {% for upsell in upsell_messages %}
            {% blocktrans with message=upsell.message url=upsell.offer.get_absolute_url offer_name=upsell.offer.name %}
                <div class="warning">{{ message }} to qualify for the <a href="{{ url }}">{{ offer_name }}</a> special offer</div>
            {% endblocktrans %}
        {% endfor %}
    </div>
{% endif %}

{% if not basket.is_empty %}
    {% block basket_form_headers %}
{#        <div class="basket-title hidden-xs">#}
{#            <div class="row">#}
{#                <h2 class="col-sm-6 h3">{% trans "Items to buy now" %}</h2>#}
{#                <p class="col-sm-3 h3">{% trans "Quantity" %}</p>#}
{#                <p class="col-sm-1 h3 align-right">{% trans "Price" %}</p>#}
{#                <p class="col-sm-2 h3 align-right">{% trans "Total" %}</p>#}
{#            </div>#}
{#        </div>#}
    {% endblock %}

    {% block basket_form_main %}
        <form action="." method="post" class="basket_summary" id="basket_formset">
            {% csrf_token %}
            {{ formset.management_form }}

            <table class="table table-striped table-bordered table-condensed">
                <tbody>
                <tr>
                    <th class="checkout_table_header prdimg td-center-align">{% trans "Item" %}</th>
                    <th class="checkout_table_header">Описание</th>
                    <th class="checkout_table_header">{% trans "Quantity" %}</th>
                    <th class="checkout_table_header td-center-align">{% trans "Price" %}</th>
{#                    <th class="checkout_table_header visible-md visible-lg">Discount</th>#}
                    <th class="checkout_table_header td-center-align">{% trans "Total" %}</th>
                </tr>

                {% for form in formset %}
                    {% with line=form.instance product=form.instance.product %}
                        {% purchase_info_for_line request line as session %}
                        <tr>
                            <td class="prdimg td-center-align">
                                {{ form.id }}
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "50" as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="cart-thumb" src="{{ thumb.url }}" alt="{{ product.get_title }}" style="height: auto;"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </td>
                            <td>
                                <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                            </td>
                            <td>
                                <div class="col-xs-12 col-md-4 cart-qty-box">
                                    <p>{% render_field form.quantity class+="form-control" %}</p>
                                </div>
                                <div class="col-xs-12 col-md-4 cart-btn-update">
                                    <p class="visible-md visible-lg">
                                        <button class="btn btn-block btn-default" type="submit">
                                            <i class="fa fa-refresh"></i> {% trans "Update" %}
                                        </button>
                                    </p>
                                    <p class="visible-xs visible-sm">
                                        <button class="btn btn-block btn-default" type="submit">
                                            <i class="fa fa-refresh"></i></button></p>
                                </div>
                                <div class="col-xs-12 col-md-4 cart-btn-remove">
                                    <p class="visible-md visible-lg">
                                        <a class="btn btn-block btn-danger" href="#"
                                           data-id="{{ forloop.counter0 }}" data-behaviours="remove">
                                            <i class="fa fa-trash-o"></i> {% trans "Remove" %}
                                        </a>
                                    </p>
                                    <p class="visible-xs visible-sm">
                                        <a class="btn btn-block btn-danger" href="#"
                                           data-id="{{ forloop.counter0 }}" data-behaviours="remove">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </p>
{#                                    {% if user.is_authenticated %}#}
{#                                        | <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="save" class="inline">{% trans "Save for later" %}</a>#}
{#                                    {% endif %}#}
                                    <div style="display:none">
                                        {{ form.save_for_later }}
                                        {{ form.DELETE }}
                                    </div>
                                    {% for field_errors in form.errors.values %}
                                        {% for error in field_errors %}
                                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                        {% endfor %}

                                    {% endfor %}
                                </div>
                            </td>
                            <td class="td-center-align">
                                <p class="price_color align-right">
                                    {% if line.is_tax_known %}
                                        {{ line.unit_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.unit_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </p>
                            </td>
    {#                        <td class="visible-md visible-lg" align="center"></td>#}
                            <td class="td-center-align">
                                <p class="price_color align-right">
                                    {% if line.is_tax_known %}
                                        {{ line.line_price_incl_tax|currency:line.price_currency }}
                                    {% else %}
                                        {{ line.line_price_excl_tax|currency:line.price_currency }}
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>

            <div class="row btn-stack">
                <div class="col-xs-12 col-md-3">
                    <a href="{{ homepage_url }}" class="btn btn-default btn-block" title="Продолжить покупки">
                        <i class=" icon-chevron-left"></i>
                        Продолжить покупки
                    </a>
                </div>
                <div class="col-xs-12 col-md-3 col-md-offset-6">
                    <button class="btn btn-default btn-block" type="submit"
                            title="Update Changes"><i class="fa fa-refresh"></i> {% trans "Update" %}
                    </button>
                </div>
            </div>

        </form>
    {% endblock %}

    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
        {% block vouchers %}
            {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
            {% if voucher_form %}
                <div class="col-xs-12 col-md-3">
                    <div class="well white-background">
                        <form method="post" action="{% url 'basket:vouchers-add' %}" id="voucher_form">{% csrf_token %}
                            <h4>{% trans "Voucher/promo code" %}</h4>
                            <p>{% trans "I have a voucher code..." %}</p>
                            <div class="form-group">
                                {% include "partials/form_fields.html" with form=voucher_form %}
                            </div>
                            <button type="submit" class="btn btn-block btn-default" data-loading-text="{% trans 'Adding...' %}">
                                {% trans "Add voucher" %}
                            </button>
                            {% trans "or" %} <a href="#" id="voucher_form_cancel">{% trans "cancel" %}</a>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endblock vouchers %}

        {% block baskettotals %}
            <div class="col-md-offset-3 col-sm-6 col-xs-12">
                {% include 'basket/partials/basket_totals.html' with editable=1 %}

                {% block formactions %}
                    <div class="col-xs-12 col-md-offset-6 col-md-6 text-center">
                        <p>
                            <a href="{% url 'checkout:index' %}" class="btn btn-primary btn-block"><b>{% trans "Proceed to checkout" %}</b></a>
                        </p>
                        <div class="clear"></div>
                    </div>
                {% endblock formactions %}
            </div>
        {% endblock baskettotals %}
    </div>



{% else %}
    {% block emptybasket %}
        <p>
            {% trans "Your basket is empty." %}
            <a href="{{ homepage_url }}">{% trans "Continue shopping" %}</a>
        </p>
    {% endblock %}
{% endif %}

{% block savedbasket %}
    {% if user.is_authenticated and saved_formset %}
        <div class="well">
            <div class="sub-header">
                <h2>{% trans "Items to buy later" %}</h2>
            </div>
            <div class="row basket-title hidden-xs">
                <p class="col-sm-8 h4">{% trans "Items" %}</p>
                <p class="col-sm-2 h4 align-center">{% trans "Price" %}</p>
                <div class="col-sm-2">&nbsp;</div>
            </div>
            <form action="{% url 'basket:saved' %}" method="post" class="form-stacked later_summary" id="saved_basket_formset">
                {% csrf_token %}
                {{ saved_formset.management_form }}
                {% for form in saved_formset %}
                    {% purchase_info_for_product request form.instance.product as session %}
                    <div class="basket-items">
                        <div class="row">
                            <div class="col-sm-2">
                                {{ form.id }}
                                {% with image=form.instance.product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                        <a href="{{ form.instance.product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ form.instance.product.get_title }}">
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="col-sm-6">
                                <h3><a href="{{ form.instance.product.get_absolute_url }}">{{ form.instance.description }}</a></h3>
                                <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                                <a href="#" data-id="{{ forloop.counter0 }}" data-behaviours="remove">{% trans "Remove" %}</a>
                                <div style="display:none">
                                    {{ form.move_to_basket }}
                                    {{ form.DELETE }}
                                </div>
                            </div>
                            {% purchase_info_for_product request form.instance.product as saved %}
                            <div class="col-sm-2 align-center">
                                <p class="price_color">
                                    {% if saved.price.is_tax_known %}
                                        {{ saved.price.incl_tax|currency:saved.price.currency }}
                                    {% else %}
                                        {{ saved.price.excl_tax|currency:saved.price.currency }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <a href="#" data-id="{{ forloop.counter0 }}" class="btn pull-right btn-block" data-behaviours="move">{% trans "Move to basket" %}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    {% endif %}
{% endblock %}
