{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.price.exists %}
    {% if session.price.excl_tax == 0 %}
        <span class="finalprice">{% trans "Free" %}</span>
    {% elif session.price.is_tax_known %}
        <span class="finalprice">{{ session.price.incl_tax|currency:session.price.currency }}</span>
    {% else %}
        <span class="finalprice">{{ session.price.excl_tax|currency:session.price.currency }}</span>
    {% endif %}
{% else %}
    <span class="finalprice">&nbsp;</span>
{% endif %}

{% comment %}
<p class="{{ session.availability.code }} availability">
    <i class="icon-{% if session.availability.is_available_to_buy %}ok{% else %}remove{% endif %}"></i>
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</p>
{% endcomment %}