{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} articles delete-article{% endblock %}

{% block title %}
    Удалить статью '{{ title }}'? | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:article-list' %}">Статьи</a>
        </li>
        <li class="active">Удалить статью '{{ object.title }}'?</li>
    </ul>
{% endblock %}

{% block headertext %}
    Удалить статью '{{ object.title }}'?
{% endblock %}

{% block dashboard_content %}
    <div class="table-header">
        <h2>Удалить статью</h2>
    </div>
    <form action="." method="post" class="well">
        {% csrf_token %}
        {{ form }}
        <p>Удалить статью <strong>{{ object.title }}</strong> - вы уверены?</p>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
            {% trans "or" %} <a href="{% url 'dashboard:article-list' %}">{% trans "cancel" %}</a>.
        </div>
    </form>
{% endblock %}
