{% extends 'dashboard/layout.html' %}
{% load dashboard_tags %}
{% load i18n %}

{% block body_class %}{{ block.super }} articles{% endblock %}

{% block title %}
    Статьи | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">Статьи</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="article-header">
        <a href="{% url 'dashboard:article-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> Добавить статью</a>
        <h1>Статьи</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <div class="table-header">
        <h2><i class="icon-file icon-large"></i>Статьи</h2>
    </div>


    {% if article_list %}
        <form action="." method="post">
            {% csrf_token %}
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Заголовок</th>
                        <th>URL</th>
                        <th>Дата публикации</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in article_list %}
                        <tr>
                            <td><a href="{% url 'dashboard:article-update' pk=article.id %}">{{ article.title}}</a></td>
                            <td><a title="{% trans "View on site" %}" href="{{ article.get_absolute_url }}">{{ article.get_absolute_url }}</a></td>
                            <td>{{ article.date_created }}</td>
                            <td>
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                            {% trans "Actions" %}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="{{ article.get_absolute_url }}">{% trans "View" %}</a></li>
                                            <li><a id="edit_article_{{ article.id }}" href="{% url 'dashboard:article-update' pk=article.id %}">{% trans "Edit" %}</a></li>
                                            <li><a id="delete_article_{{ article.id }}" href="{% url 'dashboard:article-delete' pk=article.id %}">{% trans "Delete" %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "dashboard/partials/pagination.html" %}
        </form>
    {% else %}
        <table class="table table-striped table-bordered table-hover">
            <tr><td>{% trans "No articles found." %}</td></tr>
        </table>
    {% endif %}

{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.search.init();
{% endblock onbodyload %}
