{% extends "layout.html" %}
{% load i18n thumbnail %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">
            <span>Новости и статьи</span>
        </li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <h1 class="categname">{% block headertext %}Новости и статьи{% endblock %}</h1>
    </div>
{% endblock %}


{% block content %}
    {% if article_list %}
        <div class="row">
            {% for article in article_list %}
                {% url 'article-detail' article.slug as article_url %}
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="feat-blog-wrap">
                        <div class="feat-blog-img-mob">
                            <a href="{{ article_url }}">
                                {% if article.image %}
                                    {% thumbnail article.image "265x265" crop="center" upscale=True padding=True as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}"
                                             height="{{ im.height }}" alt="{{ article.title }}" class="img-responsive">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="//placehold.it/260x260/ffffff/000000?text=Изображение+отсутствует">
                                {% endif %}
                            </a>
                        </div>
                        <div class="feat-blog-desc">
                            <div class="feat-blog-title">
                                <h3><a href="{{ article_url }}">{{ article.title }}</a></h3>
                            </div>
                            <div class="feat-blog-text">
                                {{ article.text_short }}
                            </div>
                            <div class="text-right">
                                <a href="{{ article_url }}">подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if is_paginated %}
        <div class="row">
            <div class="col-xs-12">
                <div class="wrapper-pagination text-center">
                    <ul class="pagination">
                        {% url 'article-list' as url_articles %}
                        {% if page_obj.has_previous %}
                            <li>
                                <a href="{{ url_articles }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                            </li>
                        {% endif %}
                        <li class="active">
                            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                        </li>
                        {% if page_obj.has_next %}
                            <li>
                                <a href="{{ url_articles }}?page={{ page_obj.next_page_number }}">Следующая</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}