{% extends "layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li>
            <a href="{% url 'article-list' %}">Статьи</a>
        </li>
        <li class="active"><span>{{ object.title }}</span></li>
    </ul>
{% endblock %}

{% block header %}
    <h1 class="categname">{{ object.title }}</h1>
{% endblock %}

{% block content %}
    <div class="wrap-categ-desc">
        {{ object.text|safe }}
    </div>
{% endblock %}