{% extends 'dashboard/catalogue/product_update.html' %}
{% load i18n %}

{% block stockrecords_content %}
    <table class="table table-striped table-bordered">
        <caption>{% trans "Stock and pricing" %}</caption>
        {{ stockrecord_formset.management_form }}
        {{ stockrecord_formset.non_form_errors }}
        <thead>
        <tr>
            <th>{% trans "Partner" %}</th>
            <th>{% trans "Price (excl tax)" %}</th>
            <th>{% trans "Delete?" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for stockrecord_form in stockrecord_formset %}
            {% if stockrecord_form.non_field_errors %}
                <tr>
                    <td colspan="{% if product_class.track_stock %}10{% else %}7{% endif %}">
                        {% for error in stockrecord_form.non_field_errors %}
                            <span class="error-block errorlist"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.partner nolabel=True %}</td>
                <td>{% include "dashboard/partials/form_field.html" with field=stockrecord_form.price_excl_tax nolabel=True %}</td>
                <td>
                    {% include "dashboard/partials/form_field.html" with field=stockrecord_form.id nolabel=True %}
                    {% include "dashboard/partials/form_field.html" with field=stockrecord_form.DELETE nolabel=True %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock stockrecords_content %}

