{% extends "layout.html" %}
{% load category_tags slider_tags static %}
{% load promotion_tags articles_tags %}
{% load i18n %}

{% block navigation %}
    <style type="text/css">
        .wrapper-nav {
            margin-bottom: 0;
        }
    </style>
    {% include "partials/nav_primary.html" with expand_dropdown=0 %}
{% endblock %}

{% block content_wrapper %}
    {% block slider %}
        {% slider %}
    {% endblock %}
    <div class="container" id="main-content" role="main">
        {% include "partials/alert_messages.html" %}
        <div class="row">
            <div class="col-xs-12">
                {% comment %}
                    <div class="row row-home-brands hidden-xs">
                        <div class="col-xs-12 col-sm-3 col-md-2 homebrandlist">
                            <div class="wrapper-homebrands"
                                 style="background:url({% static 'img/marketing/66.jpg' %}) no-repeat center center; background-size: contain;"
                                 data-link="/brand/polygon/">
                                Polygon
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 homebrandlist">
                            <div class="wrapper-homebrands"
                                 style="background:url({% static 'img/marketing/67.jpg' %}) no-repeat center center; background-size: contain;"
                                 data-link="/brand/shimano/">
                                Shimano
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 homebrandlist">
                            <div class="wrapper-homebrands"
                                 style="background:url({% static 'img/marketing/69.jpg' %}) no-repeat center center; background-size: contain;"
                                 data-link="/brand/topeak/">
                                Topeak
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 homebrandlist">
                            <div class="wrapper-homebrands"
                                 style="background:url({% static 'img/marketing/70.jpg' %}) no-repeat center center; background-size: contain;"
                                 data-link="/brand/schwalbe/">
                                Schwalbe
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 homebrandlist">
                            <div class="wrapper-homebrands"
                                 style="background:url({% static 'img/marketing/154.jpg' %}) no-repeat center center; background-size: contain;"
                                 data-link="/brand/camelbak/">

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-2 brandlist-button">
                            <a href="" class="btn btn-default btn-block">View All Brands</a>
                        </div>
                    </div>
                {% endcomment %}

                {% comment %}
                    <div id="promotions">
                        {{ promotions_page }}
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>
                    <div id="homepage-content" class="hidden-xs">
                        <h2><i class="fa fa-bicycle">&nbsp;</i> Bikes for Sale - Australia's #1 Online Bicycle Retailer
                        </h2>

                        <div class="wrapper-homeconts">FREE SHIPPING and FREE 14 DAY Test Ride on all bikes. Bicycles
                            Online is
                            the one stop shop for everything you need when buying your new bike. We are the Australian
                            distributor and retailer for the global bike brand – Polygon. We stock a giant range of
                            bicycle
                            styles including men's and women's flatbar and race road bikes, mountain bikes, hybrid
                            commuters,
                            tandems, bmx, electric and kids bikes. We also carry a large range of bike parts and
                            accessories
                            from the biggest brands in cycling including Shimano, Topeak, Ritchey, Schwalbe, Elite,
                            Garmin and
                            Camelbak -&nbsp;<a href="http://www.bicyclesonline.com.au/about_us">Learn More </a></div>

                    </div>
                {% endcomment %}

                <div class="row headlist">
                    <div class="col-xs-12">
                        <h2><i class="fa fa-bicycle"></i> По категориям</h2>
                    </div>
                </div>
                {% category_tree depth=1 as tree_categories %}
                {% if tree_categories %}
                    <div class="row">
                        {% for tree_category, info in tree_categories %}
                            <div class="col-xs-6 col-sm-3 homecateglist">
                                <a href="{{ tree_category.get_absolute_url }}" target="">
                                    <div class="wrapper-homecategs"
                                         style="background:url(
                                                 {% if tree_category.image %}{{ tree_category.image.url }} {% endif %}) no-repeat center top; background-size: cover;">
                                        <div class="homeads-content">
                                            <h3 style="color: #fff;">{{ tree_category.name }}</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block articles %}
                    <hr class="mbottom hidden-xs">
                    {% articles_last %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
