{% load static thumbnail %}

{% if articles %}
    <div class="row headlist">
        <div class="col-xs-12">
            <h2>Новости и статьи</h2>
        </div>
    </div>
    <div class="row row-padded hidden-xs">
        {% for article in articles %}
            <div class="col-xs-12 col-sm-4 wrap-hmads">
                <div class="wrapper-homeads">
                    <div class="homeads-img">
                        {% url 'article-detail' article.slug as url_article %}
                        <a href="{{ url_article }}">
                            {% if article.image %}
                                {% thumbnail article.image "366x240" crop="center" upscale=True padding=True as im %}
                                    <span style="background:url({{ im.url }}) no-repeat center top; background-size: cover;">
                                        {{ article.title }}
                                    </span>
                                {% endthumbnail %}
                            {% else %}
                                <span style="background:url('http://placehold.it/366x240/ffffff/000000?text=Изображение+отсутствует') no-repeat center top; background-size: cover;">
                                        {{ article.title }}
                                    </span>
                            {% endif %}
                        </a>
                    </div>
                    <div class="homeads-content">
                        <a href="{{ url_article }}">
                            <span>{{ article.title }}</span><br>
                            {{ article.text_short }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{% url 'article-list' %}" class="btn btn-default">Все новости и статьи</a>
        <br><br>
    </div>
{% endif %}