{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
    Keep the same header and footer as the standard layout template but override the
    main content area to split it into a sidebar and a content block
{% endcomment %}

{% block content_wrapper %}
    {% block slider %}
    {% endblock %}
    <div class="container">
        <div class="page_inner">
            {% block breadcrumbs %}{% endblock %}
            <div class="row">
                <aside class="sidebar col-xs-12 col-sm-3" id="left-sidebar">
                    {# Render promotions at the top of the left-hand sidebar #}
                    <div id="promotions_left">
                        {% for promotion in promotions_left %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>
                    {% block column_left %}{% endblock %}
                </aside>
                <div class="col-xs-12 col-sm-9">
                    {% block header %}
                        <h1 class="categname">{% block headertext %}{% endblock %}</h1>
                    {% endblock %}

                    {% include "partials/alert_messages.html" %}

                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {% block content %}{% endblock %}
                </div>
            </div><!-- /row -->
        </div><!-- /page_inner -->
    </div><!-- /container -->
{% endblock %}
