{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load purchase_info_tags %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' %}
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="row shipping-payment">
        {% block shipping_address %}
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>{% trans "Shipping" %}</h2>
                </div>
                {% if shipping_method %}
                    <div class="well well-info">
                        {% block shipping_method_actions %}
                            <a href="{% url 'checkout:shipping-method' %}" class="pull-right">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h3>{% trans "Shipping method" %}</h3>
                        <p>{{ shipping_method.name }}
                            {% if shipping_method.description %}
                                - {{ shipping_method.description|safe }}
                            {% endif %}
                        </p>

                    </div>
                {% endif %}

                {% if shipping_address %}
                    <div class="well well-info">
                        {% block shipping_address_actions %}
                            <a href="{% url 'checkout:shipping-address' %}" class="pull-right">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                        <h3>{% trans "Address" %}</h3>
                        <address>
                            {{ shipping_address.city }}, {{ shipping_address.line1 }}
                        </address>

                        <h4>Контактная информация</h4>
                        <p>
                            Имя и фамилия: {{ shipping_address.name }}
                            {% if shipping_address.phone_number %}<br>{% trans "Phone" %}:
                                {{ shipping_address.phone_number }}{% endif %}
                        </p>

                        {% if shipping_address.notes %}
                            <h4>Комментарий</h4>
                            <p>{{ shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endblock shipping_address %}

        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>{% trans "Payment" %}</h2>
                </div>
                <div class="well well-success">
                    {% comment %}
                    <a href="{% url 'checkout:payment-details' %}" class="pull-right">
                        {% trans "Change" %}
                    </a>
                    {% endcomment %}
                    <h3>{% trans "Payment" %}</h3>
                    <p>{{ config.PAYMENT_TEXT }}</p>
                </div>
            </div>
        {% endblock payment_method %}
    </div>

    {% block order_contents %}
        <div class="sub-header">
            {% block order_contents_actions %}
                <a href="{% url 'basket:summary' %}" class="pull-right">
                    {% trans "Edit order contents" %}
                </a>
            {% endblock %}

            <h2>{% trans "Order contents" %}</h2>
        </div>
        <table class="table table-striped table-bordered table-condensed">
            <tbody>
            <tr>
                <th class="checkout_table_header prdimg td-center-align">{% trans "Item" %}</th>
                <th class="checkout_table_header">Описание</th>
                <th class="checkout_table_header td-center-align">{% trans "Quantity" %}</th>
                <th class="checkout_table_header td-center-align">{% trans "Total" %}</th>
            </tr>
            {% for line in basket.all_lines %}
                {% purchase_info_for_line request line as session %}
                <tr>
                    <td class="prdimg td-center-align">
                        {% with image=line.product.primary_image %}
                            {% thumbnail image.original "100" as thumb %}
                                <a href="{{ line.product.get_absolute_url }}" target="_blank"><img class="cart-thumb"
                                                                                                   src="{{ thumb.url }}"
                                                                                                   alt="{{ line.product.get_title }}"
                                                                                                   style="height: auto;"></a>
                            {% endthumbnail %}
                        {% endwith %}
                    </td>
                    <td>
                        <a href="{{ line.product.get_absolute_url }}" target="_blank">{{ line.description }}</a>
                        <p class="availability {{ session.availability.code }}">{{ session.availability.message }}</p>
                    </td>
                    <td class="td-center-align">
                        {{ line.quantity }}
                    </td>
                    <td class="td-center-align">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>Итого</h2>
                </div>
                {% include 'basket/partials/basket_totals.html' %}
            </div>
        </div>

    {% endblock order_contents %}

    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

    {% block place_order %}
    {% endblock place_order %}

{% endblock content %}
