{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    Заказ №{{ order.number }} оформлен!
{% endblock %}

{% block content %}
    <p class="lead">
        {% blocktrans with number=order.number %}
        Your order has been placed and a confirmation email has been sent - your order number is
        <strong>{{ number }}</strong>.
        {% endblocktrans %}
        {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}
    </p>
    </p>

    <div class="row shipping-payment">
        <div class="col-sm-6">
            {% block shipping_info %}
                <div class="sub-header">
                    <h2>{% trans "Shipping" %}</h2>
                </div>
                <div class="well well-info">
                    <h3>{% trans "Shipping method" %}</h3>
                    <p>{{ order.shipping_method }}
                        {% if order_shipping_method.description %}
                            - {{ order_shipping_method.description|safe }}
                        {% endif %}
                    </p>
                </div>
                {% if order.shipping_address %}
                    <div class="well well-info">
                        <h3>{% trans "Address" %}</h3>
                        <address>
                            {{ order.shipping_address.city }}, {{ order.shipping_address.line1 }}
                        </address>

                        <h4>Контактная информация</h4>
                        <p>
                            Имя и фамилия: {{ order.shipping_address.name }}
                            {% if order.shipping_address.phone_number %}<br>{% trans "Phone" %}:
                                {{ order.shipping_address.phone_number }}{% endif %}
                        </p>

                        {% if order.shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ order.shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        <div class="col-sm-6">
            {% block payment_info %}
                <div class="sub-header">
                    <h2>{% trans "Payment" %}</h2>
                </div>
                <div class="well well-success">
                    <h3>{% trans "Payment" %}</h3>

                    {% for source in order.sources.all %}
                        <p>
                            {% if source.reference %}
                                {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name reference=source.reference %}
                                    Allocation of {{ amount }} from type {{ type }} (reference: {{ reference }})
                                {% endblocktrans %}
                            {% else %}
                                {% blocktrans with amount=source.amount_allocated|currency:source.currency type=source.source_type.name %}
                                    Allocation of {{ amount }} from type {{ type }}
                                {% endblocktrans %}
                            {% endif %}
                        </p>
                        {% empty %}
                        <p>
                            {{ config.PAYMENT_TEXT }}
                        </p>
                    {% endfor %}

                    {% if order.billing_address %}
                        <h4>{% trans "Billing address" %}</h4>
                        <address>
                            {% for field in order.billing_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>
                    {% endif %}
                </div>

            {% endblock %}
        </div>
    </div>

    <div class="sub-header">
        <h2>{% trans "Order contents" %}</h2>
    </div>
    <table class="table table-striped table-bordered table-condensed">
        <tbody>
        <tr>
            <th class="checkout_table_header prdimg td-center-align">{% trans "Item" %}</th>
            <th class="checkout_table_header">Описание</th>
            <th class="checkout_table_header td-center-align">{% trans "Quantity" %}</th>
            <th class="checkout_table_header td-center-align">Сумма</th>
        </tr>
        {% for line in order.lines.all %}
            <tr>
                <td class="prdimg td-center-align">
                    {% with image=line.product.primary_image %}
                        {% thumbnail image.original "100" as thumb %}
                            <a href="{{ line.product.get_absolute_url }}" target="_blank"><img class="cart-thumb"
                                                                                               src="{{ thumb.url }}"
                                                                                               alt="{{ line.product.get_title }}"
                                                                                               style="height: auto;"></a>
                        {% endthumbnail %}
                    {% endwith %}
                </td>
                <td>
                    <a href="{{ line.product.get_absolute_url }}" target="_blank">{{ line.description }}</a>
                </td>
                <td class="td-center-align">
                    {{ line.quantity }}
                </td>
                <td class="td-center-align">
                    <p class="price_color">
                        {% if show_tax_separately %}
                            {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                        {% else %}
                            {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                        {% endif %}
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% block basket_totals %}
        <div class="row">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>Итого</h2>
                </div>

                <div id="basket_totals">
                    <table class="table table-striped">
                        {% with discounts=order.basket_discounts %}
                            {% block discount_totals %}
                                {% if discounts %}
                                    <tr>
                                        <td>{% trans "Basket total (before discounts)" %}</td>
                                        <td class="align-right">
                                            {{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                    </tr>
                                    {% for discount in discounts %}
                                        <tr>
                                            <td><span
                                                    class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}
                                            </td>
                                            <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endblock discount_totals %}

                            {% block basket_total %}
                                {% if discounts %}
                                    <tr>
                                        <th class="total">Сумма без скидки</th>
                                        <th class="total align-right">
                                            {{ order.basket_total_incl_tax|currency:order.currency }}</th>
                                    </tr>
                                {% else %}
                                    <tr class="basket-items">
                                        <th class="total">Сумма</th>
                                        <th class="total align-right">
                                            {% if show_tax_separately %}
                                                {{ order.basket_total_excl_tax|currency:order.currency }}
                                            {% else %}
                                                {{ order.basket_total_incl_tax|currency:order.currency }}
                                            {% endif %}
                                        </th>
                                    </tr>
                                {% endif %}
                            {% endblock basket_total %}
                        {% endwith %}

                        {% block shipping_total %}
                            {% comment %}
                            {% if order.has_shipping_discounts %}
                                <tr>
                                    <td>{% trans "Shipping charge (before discounts)" %}</td>
                                    <td class="align-right">
                                        {{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                                </tr>
                                {% for discount in order.shipping_discounts %}
                                    <tr>
                                        <td><span
                                                class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}
                                        </td>
                                        <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th class="total">{% trans "Shipping charge (after discounts)" %}</th>
                                    <th class="total align-right">
                                        {{ order.shipping_incl_tax|currency:order.currency }}</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th class="total">{{ order.shipping_method }}</th>
                                    <th class="total align-right">
                                        {% if show_tax_separately %}
                                            {{ order.shipping_excl_tax|currency:order.currency }}
                                        {% else %}
                                            {{ order.shipping_incl_tax|currency:order.currency }}
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endif %}
                            {% endcomment %}
                        {% endblock shipping_total %}

                        {% if show_tax_separately %}
                            <tr>
                                <th class="total">{% trans "Order tax" %}</th>
                                <th class="total align-right">
                                    {{ order.total_tax|currency:order.currency }}
                                </th>
                            </tr>
                        {% endif %}

                        {% block post_order_action_totals %}
                            {% with actions=order.post_order_actions %}
                                {% if actions %}
                                    <tr>
                                        <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                    </tr>
                                    {% for action in order.post_order_actions %}
                                        <tr>
                                            <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        {% endblock post_order_action_totals %}

                        {% block order_total %}
                            <tr>
                                <td class="total"><h3>К оплате</h3></td>
                                <td class="total align-right"><h3 class="price_color">
                                    {{ order.total_incl_tax|currency:order.currency }}</h3></td>
                            </tr>
                        {% endblock order_total %}
                    </table>
                </div>
            </div>
        </div>
    {% endblock basket_totals %}

    {% block order_tracking %}
        {% if not order.user %}
            <div class="sub-header">
                <h2>{% trans "Tracking your order" %}</h2>
            </div>
            <p>{% trans "You can track the status of your order" %}</p>
            <a class="btn btn-primary"
               href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View order status" %}</a>
            .
        {% endif %}
    {% endblock %}


    {% block order_actions %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <p><a onclick="window.print()" href="#"
                          class="btn btn-primary btn-block btn-lg">{% trans "Print this page" %}</a></p>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <p><a href="{{ homepage_url }}"
                          class="btn btn-primary btn-block btn-lg">{% trans "Continue shopping" %}</a></p>
                </div>
            </div>
        </div>
    {% endblock order_actions %}
{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
