{% load thumbnail %}
<div id="myCarouselBanner" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {% for slide in slides %}
            <li data-target="#myCarouselBanner" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %} active {% endif %} "></li>
        {% endfor %}
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for slide in slides %}
            <div id="{{ forloop.counter0 }}" class="item {% if forloop.first %} active {% endif %}">

                <a href="{% if slide.link %}{{ slide.link.get_absolute_url }}{% endif %}" target="">
                    {% if slide.image %}
                        {% thumbnail slide.image "1380x405" crop='center' upscale=True as im %}
                            <img src="{{ im.url }}" class="home-banner-item" alt="" border="0">
                        {% endthumbnail %}
                    {% endif %}
                </a>

                <div class="carousel-caption">
                    <h3></h3>

                    <p class="bannertext"></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarouselBanner" data-slide="prev">
        <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#myCarouselBanner" data-slide="next">
        <span class="fa fa-angle-right"></span>
    </a>
</div>