{% extends 'dashboard/layout.html' %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} slider{% endblock %}

{% block title %}
    Слайды | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">Слайды</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:slide-add' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> Добавить новый слайд</a>
        <h1>Слайды</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% render_table slides %}
{% endblock dashboard_content %}
