{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}
{% load thumbnail %}
{% load bikeshop %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{{ summary }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block column_left %}
    {% if filter %}
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-thumbnails">
                <h3 class="panel-title">
                    <a href="#filters" class="accordion-toggle collapsed" data-toggle="collapse"
                       data-parent="#filters-accordion">
                        <i class="fa fa-bicycle"></i>&nbsp;Фильтр товаров
                    </a>
                </h3>
            </div>
            <form method="get" id="filter-form">
                <ul class="list-group">
                    <li class="list-group-item-head">
                        <h4>Цена</h4>
                        <div class="filter-price-range">
                            <div class="filter-price-range-control">
                                {% field filter.form.price_from class="form-control" %}
                                <label class="text-muted">от</label>
                            </div>
                            <div class="filter-price-range-control">
                                {% field filter.form.price_to class="form-control" %}
                                <label class="text-muted">до</label>
                            </div>
                        </div>
                    </li>
                    {% for field in filter.form %}
                        {% if field.field.choices %}
                            <li class="list-group-item-head">
                                <h4>{{ field.label }}</h4>
                                <div class="filter-choices-control">
                                    {{ field }}
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <hr>
    {% if products %}
        <div class="row sort_container">
            <div class="col-xs-12">
                <div class="wrapper-sortcontainer">
                    <div class="col-xs-4 col-sm-6 col-md-4"></div>
                    <div class="col-xs-8 col-sm-6 col-md-7 col-md-offset-1">
                        <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-5 sortdroplabel">Сортировать</label>
                                <div class="col-xs-7 wrapper-sortdrop">
                                    {% field search_form.sort_by class="form-control" onchange="return this.form.submit();" %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="thumb">
            <div class="row row-bikes-categ">
                {% for product in products %}
                    <div class="col-xs-12">{% render_product product %}</div>
                {% endfor %}
            </div>
            {% include "partials/pagination.html" %}
        </div>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
{% endblock content %}

{% block extrastyles %}
    {{ block.super }}
    {#    <link rel="stylesheet" href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">#}
{% endblock %}

{% block cdn_scripts %}
    {{ block.super }}
    {#    <script src="//code.jquery.com/ui/1.9.1/jquery-ui.js"></script>#}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}

{% block extrascripts %}
    <script>
        $(function () {
            $('#filter-form').each(function () {
                var form = this;
                var $form = $(form);
                var timeout = null;
                $form.find('input').on('change', function () {
                    if (timeout){
                        clearTimeout(timeout);
                        timeout = null;
                    }
                    timeout = setTimeout(function () {
                        form.submit();
                        timeout = null;
                    }, 1000)
                })
            })
        })
    </script>
{% endblock %}