{% extends "layout.html" %}

{% load i18n %}
{% load category_tags %}
{% load thumbnail %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}

{% block headertext %}{{ category.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
    {% category_tree depth=1 parent=category as tree_categories %}
    {% if tree_categories %}
        <div class="row row-padded">
            <div class="col-xs-12">
                <div class="subcateg-list">
                    {% for tree_category, info in tree_categories %}
                        <div class="wrap-subcateg-list">
                            <div class="subcateg-list-img">
                                <a href="{{ tree_category.get_absolute_url }}">
                                    {% if tree_category.image %}
                                        {% thumbnail tree_category.image "200x200" crop='center' upscale=True as im %}
                                            <img src="{{ im.url }}" class="home-banner-item" alt="" border="0">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="http://placehold.it/200x200/ffffff/000000?text=Изображение+отсутствует">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="subcateg-list-name">
                                <h3>
                                    <a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
                                </h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
